include json-schema-table.jade

mixin jsonSchema(rawSchema, selectorPrefix)
	.panel.panel-default.jsonSchema
		.panel-heading
			h4.panel-title
				a(data-toggle="collapse", href="##{selectorPrefix}_collapse")
					| JSON Schema 
					small (click to toggle)
		.panel-collapse.collapse(id="#{selectorPrefix}_collapse")
			.panel-body
				ul.nav.nav-tabs(role='tablist')
					li.active
						a(href="##{selectorPrefix}_pretty", role="tab", data-toggle="tab") Structure
					li
						a(href="##{selectorPrefix}_raw", role="tab", data-toggle="tab") Raw Schema

				.tab-content
					.tab-pane.active.fade.in(id="#{selectorPrefix}_pretty")
						+jsonSchemaTable(JSON.parse(rawSchema))
					.tab-pane.fade(id="#{selectorPrefix}_raw")
						pre!=helpers.highlight(rawSchema)