mixin resource(resource)

	h1.h--primary=resource.displayName
	hr
	.markdown!=hlp.markdown(resource.description)

	h2.h--code.h--small=resource.relativeUri
	hr

	each method in resource.methods
		.badge.badge--verb(class="badge--verb--#{method.method}")=method.method
		div
			| !{method.description}
			.pull-right!=hlp.authscope(method.securedBy)
		.clearfix


	//- recursively traverse sub-resources
	if resource.resources
		each subResource in resource.resources
			+resource(subResource)

+resource(resource)