mixin icon(ref)
	svg.svg-icon(class!=attributes.class, ng-click!=attributes['ng-click'], ng-show!=attributes['ng-show'],
			ng-hide!=attributes['ng-hide'], ng-class!=attributes['ng-class'],
			uib-tooltip!=attributes['uib-tooltip'], tooltip-append-to-body!=attributes['tooltip-append-to-body'],
			tooltip-trigger!=attributes['tooltip-trigger'], tooltip-popup-delay!=attributes['tooltip-popup-delay']
	)
		if ref[0] === "{"
			use(xlink:href=`{{ icon(${ref.match(/^\{\{\s*(.*?)\s*\}\}$/)[1]}) }}`)
		else
			use(xlink:href=`#icon-${ref}`)
