.row.row--fullheight

	// right column
	.col-sm-3.col--menu
		h1 Sections
		hr

		block menu
			if section && subsections[section]
				ul.nav.subnav
					for subsection in subsections[section]
						li
							a(href=subsection.link)
								| #{subsection.title}

			if section === 'api' && api.resources
				.input-group.padder-top
					span.input-group-addon
						i.fa.fa-key
					input.form-control(type="text", placeholder="API Token", ng-model="$storage.apiToken")
					span.input-group-btn
						button.btn.btn-default(type="button", ng-click="$storage.apiToken = ''") &times;
				small: i Updates example code snippets.
				h1 Resources
				hr

				ul.nav.subnav
					each resource in api.resources
						li
							h4=resource.displayName
							a(href='/api/reference/#{resource.uniqueId.substr(1)}')
								span=resource.relativeUri

		p.padder-top-2x

	// right column
	.col-sm-9.col--main
		| <div ui-view></div>

