.alert.alert--rounded.alert--aligned(ng-show="showHelp")
	+icon('info')
	p These show off your work. You should provide both screenshot and video at full HD resolution at <i>1920&times;1080</i> for every table file you've provided in step {{ step.flavors }}. The screenshot is mandatory. If you provide a video, it should show the table in attract mode (no gameplay).
	p Use the rotate buttons to rotate the screenshot so it's oriented as you would play it.
span(ng-repeat="file in meta.files | fileext:['vpt','vpx']")
	h2.h--smaller
		+icon('{{ file.icon }}').svg-2x.shift-up.space-right-less
		| {{ file.name }}
	hr.hr--light.hr--shifted-up
	.row(ng-show="getReleaseFile(file).flavor.orientation")

		//-- playfield image
		.col-sm-6.playfield--rotate-on-upload(
			class="angle--{{ meta.mediaLinks[getMediaKey(file, 'playfield_image')].rotation }}"
		)
			span.pre-h4 Playfield
			h4.h--large
				| Screenshot

				//- rotate icons
				.pull-right
					a(ng-click="rotate(file, 'playfield_image', 90)", title="Rotate left"): +icon('rotate-left')
					a(ng-click="rotate(file, 'playfield_image', -90)", title="Rotate right"): +icon('rotate-right')

			//- drop zone
			.panel.panel--blank.playfield--image(
				file-upload="{ type: 'playfield', key: getMediaKey(file, 'playfield_image'), status: meta.mediaFiles, onSuccess: onMediaUpload, onClear: onMediaClear, allowedExtensions: ['jpg', 'png'], allowMultipleFiles: false }",
				ngf-drag-over-class="'panel--dragging'",
				ng-class="{ error: errors.versions[0].files[meta.files.indexOf(file)]._media.playfield_image }"
			)
				.panel-body.a.a--darker
					.img.img--ar-ws.loaded(
						img-bg="meta.mediaLinks[getMediaKey(file, 'playfield_image')]",
						error="onBackglassImageError(file, meta.mediaLinks[getMediaKey(file, 'playfield_image')] ? 'playfield_image' : 'screenshot')"
					)
						//- content panel
						.text-center.vertical-center--100
							//- progress bar
							uib-progressbar.progress--fixed-absolute.progress-striped.active(
								value="meta.mediaFiles[getMediaKey(file, 'playfield_image')].progress",
								ng-show="meta.mediaFiles[getMediaKey(file, 'playfield_image')].uploading"
							)
							//- thumb
							.span(ng-show="!img.url")
								+icon('photo').svg-4x(ng-class="{ transparent: meta.mediaFiles[getMediaKey(file, 'playfield_image')].uploading }")
								p {{ meta.mediaFiles[getMediaKey(file, 'playfield_image')].status || 'Click or drag and drop here' }}
							.span(ng-show="img.loading && !meta.mediaFiles[getMediaKey(file, 'playfield_image')].uploading")
								+icon('gear').svg-3x.svg-spin--slow
								p Generating {{ meta.mediaLinks[getMediaKey(file, 'screenshot')] ? 'screenshot' : 'thumbnails' }}...

		//-- playfield video
		.col-sm-6.playfield--rotate-on-upload(make-loaded="{ loaded: getReleaseFile(file).flavor.orientation !== 'ws' }", make-loaded-event="video", make-loaded-post="loadingFinished")
			span.pre-h4 Playfield
			h4.h--large Video

			.panel.panel--blank.playfield--video(
				file-upload="{ type: getPlayfieldType(file), key: getMediaKey(file, 'playfield_video'), status: meta.mediaFiles, onSuccess: onMediaUpload, onClear: onMediaClear, allowedExtensions: ['flv', 'f4v', 'mp4', 'avi'], allowMultipleFiles: false, disableSelect: true }",
				ngf-drag-over-class="'panel--dragging'",
				ng-class="{ error: errors.versions[0].files[meta.files.indexOf(file)]._media.playfield_video }",
				ng-show="loadingFinished",
			)
				.panel-body.a.a--darker
					.img.img--ar-fs.loaded
						.video-wrapper
							video.video-js.vjs-sublime-skin(videojs, width="100%", height="100%", video-src="{{ meta.mediaFiles[getMediaKey(file, 'playfield_video')].storage.variations['small-rotated'] }}")

			//- drop zone
			.panel.panel--blank.playfield--image(
				file-upload="{ type: getPlayfieldType(file), key: getMediaKey(file, 'playfield_video'), status: meta.mediaFiles, onSuccess: onMediaUpload, onClear: onMediaClear, allowedExtensions: ['flv', 'f4v', 'mp4', 'avi'], allowMultipleFiles: false }",
				ngf-drag-over-class="'panel--dragging'",
				ng-class="{ error: errors.versions[0].files[meta.files.indexOf(file)]._media.playfield_video }",
				ng-hide="loadingFinished"
			)
				.panel-body.a.a--darker
					.img.img--ar-ws.loaded(
						img-bg="meta.mediaLinks[getMediaKey(file, 'playfield_video')]",
						error="onBackglassImageError(file, 'playfield_video')"
					)
						//- content panel
						.text-center.vertical-center--100
							//- progress bar
							uib-progressbar.progress--fixed-absolute.progress-striped.active(
								value="meta.mediaFiles[getMediaKey(file, 'playfield_video')].progress",
								ng-show="meta.mediaFiles[getMediaKey(file, 'playfield_video')].uploading"
							)
							//-
							span(ng-show="!img.url")
								+icon('video-camera').svg-4x(ng-class="{ transparent: meta.mediaFiles[getMediaKey(file, 'playfield_video')].uploading }")
								p {{ meta.mediaFiles[getMediaKey(file, 'playfield_video')].status || 'Click or drag and drop here' }}
							span(ng-show="img.loading")
								+icon('gear').svg-3x.svg-spin--slow
								p Creating video screenshot...
							span(ng-show="videoLoading").progress-note--with-background
								+icon('gear').svg-3x.svg-spin--slow
								p Generating video thumbnail...

	.text-center(ng-hide="getReleaseFile(file).flavor.orientation")
		+icon('warning').shift-up.space-right
		i Pleased set the <b>orientation</b> of the file under 3. before uploading media.

	.alert.alert-danger(ng-show="errors.versions[0].files[meta.files.indexOf(file)]._media.playfield_image")
		+icon('warning').shift-up.space-right
		| {{ errors.versions[0].files[meta.files.indexOf(file)]._media.playfield_image }}

.text-center(ng-show="(meta.files | fileext:['vpt','vpx']).length == 0")
	+icon('warning').shift-up.space-right
	i Upload <code>.vpt</code>/<code>.vpx</code> files under {{ step.flavors }}. in order to upload media.
