p Tags highlight special characteristics or features of your release. There are already a bunch of them but you
	| can also define new ones.
.row.padder-top
	.col-sm-6

		//- SELECTED
		h5.h--shift-up.hr--margin-small Selected Tags
		.panel--dropzone-alt(ng-model="meta.tags",
		data-drop="true",
		data-jqyoui-options="{ accept: '.badge:not([ng-model=meta.tags])', activeClass: 'active', 'hoverClass': 'hover' }",
		jqyoui-droppable="{ multiple: true, onDrop: 'tagDropped' }")
			div.padder-top(ng-repeat="tag in meta.tags")
				.badge.badge--tag(ng-model="meta.tags",
				data-drag="true",
				data-jqyoui-options="{ revert: 'invalid' }",
				jqyoui-draggable="{ animate: true, index: {{$index}} }")
					| {{ tag.name }}
					+icon('times-circle').small.shift-up.space-left.a(ng-click="removeTag(tag)")
				i.space-left {{ tag.description }}
			i(ng-show="meta.tags.length == 0") No tags selected. Drag and drop them from the right hand pane in here.
	.col-sm-6
		.rel-pos
			.panel--dropzone-alt-2(ng-model="tags",
			data-drop="true",
			data-jqyoui-options="{ accept:':not([ng-model=tags])', activeClass: 'active', hoverClass: 'hover' }",
			jqyoui-droppable="{ multiple: true, onDrop: 'tagDropped' }")

				//- EXISTING
				h5.hr--margin-small.h--shift-up Existing Tags
				.badge.badge--tag(ng-repeat="tag in tags", ng-model="tags",
					data-drag="true",
					data-jqyoui-options="{ revert: 'invalid' }",
					jqyoui-draggable='{ animate: true, index: {{$index}} }')
					| {{ tag.name }}
					+icon('question-circle').small.shift-up.space-left.a(
						tooltip="{{ tag.description }}",
						tooltip-append-to-body="false",
						tooltip-trigger="click",
						tooltip-popup-delay="200")
				i(ng-show="tags.length == 0") No more tags available.

		button.btn.btn-default.padder-top.pull-right(ng-click="createTag()")
			+icon('plus-circle').space-right
			| Create New Tag

	.clearfix.padder-bottom
