include ../template/_mixins

.row.row--fullheight(ng-controller="ReleaseAddCtrl")
	.col-sm-9.col--main

		h1.h--primary Add a new Release
		hr.hr--primary

		p Welcome to the release upload page. We've tried our best to make it as easy as possible for you to
			| upload your release and add the necessary information so it can correctly be categorized, indexed and
			| found by the community.

		p Below are seven steps until you can hit the big button. If this is the first time you're uploading a release,
			| read carefully through the instructions. Note that you can hit refresh or quit this page (even the browser)
			| and what you've entered will be restored any time you come back. So let's get started!

		//---------------------------------------------------------------------
		h1 1. Upload Files
		hr

		p Drag and drop your files from the file explorer into the box below. You can also put a .zip file, which will
			| then be extracted on server side and show up here as individual files.
		.panel.panel--dropzone(ng-file-drop="onFilesUpload($files)", ng-file-drag-over-class="panel--dragging", ng-class="{ error: angular.isString(errors.versions[0].files) }")

			ul.list--files
				li.panel(ng-repeat="file in meta.files")
					.col--list-files-left
						+icon('{{ file.icon }}').svg-4x
					.col--list-files-right
						.col-md-12
							.block.text--large: strong {{ file.name }}
							.block.text--large(ng-hide="file.uploading") {{ file.bytes | bytes }}
							progressbar.progress-striped.active(value="file.progress", ng-show="file.uploading")
					+icon('trash')(ng-click="removeFile(file)")

			label.center-block.text-center: small: i Drop your files in here.
		.alert.alert-danger.padder-bottom(ng-show="angular.isString(errors.versions[0].files)")
			+icon('warning').shift-up.space-right
			| {{ errors.versions[0].files }}

		p Note that files of a release are structured, i.e. there are only certain file types allowed:
		ul
			li <code>.vpt</code> or <code>.vpx</code> - The table file of the release. You can upload multiple of those
				| if you have multiple flavors ready (see step 3 below)
			li <code>.png</code>/<code>.jpg</code> files - Playfield screen shots
			li <code>.mp4</code> files - Playfield videos or game play videos

		p You can add text files as well. However, your release will be in any case packaged with a README file
			| generated from the description you provide below. There will also be a file about authors and
			| acknowledgements distributed with every download. Thus, it is recommended to use text files only for
			| configuration or other technical usages when necessary.

		//---------------------------------------------------------------------
		h1 2. Name your Release
		hr
		.form-group(ng-class="{ error: errors.name }")
			input.form-control.input-lg(type="text", placeholder="Title", ng-model="release.name")
			.alert.alert-danger(ng-show="errors.name")
				+icon('warning').shift-up.space-right
				| {{ errors.name }}
			span.help-block This is what will show up when your release gets listed under the game. It is basically what
				| distinguishes your release from others of the same game. Don't put the game name or anything you
				| already describe below such as <i>"FS Night Mod"</i>, but choose a name that brings across the nature
				| of your virtual table.
				| Be creative, but if you're out of ideas, <i>"Ultimate Edition"</i> often seems to work. ;)

		//---------------------------------------------------------------------
		h1 3. Define your Flavors
		hr
		p A flavor defines attributes that are relevant to every release, so users can set defaults which version to
			| download or search for. You can upload multiple flavors by adding several <code>.vpt</code> or
			| <code>.vpx</code> files in step 1.
		ul.list--files
			li.panel(ng-repeat="file in meta.files | fileext:['vpt','vpx']", ng-class="{ error: errors.versions[0].files[meta.files.indexOf(file)].flavor }")
				.col--list-files-left
					+icon('{{ file.icon }}').svg-4x
				.col--list-files-right
					.col-md-12
						.block.text--large: strong {{ file.name }}
						hr.hr--margin-smaller
						table.table--inner-border
							tr(ng-repeat="flavor in flavors")
								th.text--large {{ flavor.header }}
								td(ng-repeat="flavorVal in flavor.values")
									.radio--lg-twoliner.radio-inline
										label
											input(type="radio", name="{{ file.name + flavor.header }}", value="{{ flavorVal.value }}", ng-model="file.flavor[flavor.name]")
											span {{ flavorVal.name }}
											span: i {{ flavorVal.other }}
				.clearfix
				.alert.alert-danger(ng-show="errors.versions[0].files[meta.files.indexOf(file)].flavor.orientation")
					+icon('warning').shift-up.space-right
					| {{ errors.versions[0].files[meta.files.indexOf(file)].flavor.orientation }}
				.alert.alert-danger(ng-show="errors.versions[0].files[meta.files.indexOf(file)].flavor.lightning")
					+icon('warning').shift-up.space-right
					| {{ errors.versions[0].files[meta.files.indexOf(file)].flavor.lightning }}
		.text-center(ng-show="(meta.files | fileext:['vpt','vpx']).length == 0")
			+icon('warning').shift-up.space-right
			i Upload any VP tables under 1. before defining flavors.


		//---------------------------------------------------------------------
		h1 4. Describe your Release
		hr
		.form-group
			tabset.tabset--light
				label.label--small.pull-right(markdown-info="Markdown enabled.")
				tab
					tab-heading(title="Write"): +icon('edit')
					textarea.textarea--full.msd-elastic(placeholder="Description of the release", ng-model="release.description")
				tab
					tab-heading(title="Preview"): +icon('eye')
					div.markdown(markdown="release.description")
					label.tab__label(ng-show="!release.description || release.description.length == 0") Nothing to preview.
			i This will show up globally under your release.

		.form-group(ng-class="{ error: errors.versions[0].version }")
			label.control-label(for="version") Version
			.row
				.col-sm-2: input#version.form-control(type="text", ng-model="release.versions[0].version", placeholder="x.x.x")
				.col.sm-10: i Using the semantic versioning syntax is recommended.
			.alert.alert-danger(ng-show="errors.versions[0].version")
				+icon('warning').shift-up.space-right
				| {{ errors.versions[0].version }}
		.clearfix

		.form-group
			label.control-label(for="version") Release Information
			tabset.tabset--light
				label.label--small.pull-right(markdown-info="Markdown enabled.")
				tab
					tab-heading(title="Write"): +icon('edit')
					textarea.textarea--full.msd-elastic(placeholder="Release Information", ng-model="release.versions[0].changes")
				tab
					tab-heading(title="Preview"): +icon('eye')
					div.markdown(markdown="release.versions[0].changes")
					label.tab__label(ng-show="!release.versions[0].changes || release.versions[0].changes.length == 0") Nothing to preview.
			i This will show up in the release's change log


		//- AUTHORS
		//---------------------------------------------------------------------
		h4
			+icon('user').shift-up.space-right
			| Authors
		hr.hr--light.hr--margin-small

		i.pull-left(ng-show="release.authors.length == 0") No authors added.
		.row--fullwidth
			.media.media--mini.media--mini-noborders.col-sm-4(ng-repeat="author in release.authors", ng-mouseenter="hovering=true", ng-mouseleave="hovering=false")
				.img-avatar.img-avatar--sm.avatar-placeholder.avatar-placeholder--sm.pull-left(ng-hide="meta.users[author._user].avatar")
				.img.img-avatar.img-avatar--sm.pull-left(ng-show="meta.users[author._user].avatar", img-bg="meta.users[author._user].avatar")
				.media-body
					h6.h--no-margin.h--lighter.media-heading {{ meta.users[author._user].name }}
					span {{ author.roles.join(', ') }}
				.fade-admination(ng-show="hovering")
					+icon('pencil').pos-pencil.a.smaller(ng-click="addAuthor(author)")
					+icon('trash').pos-trash.a.smaller(ng-click="removeAuthor(author)")

		button.btn.btn-default.padder-top.pull-right(ng-click="addAuthor()")
			+icon('plus-circle').space-right
			| Add Author

		.clearfix.padder-bottom
		.alert.alert-danger.padder-bottom(ng-show="errors.authors")
			+icon('warning').shift-up.space-right
			| {{ errors.authors }}

		//- TAGS
		//---------------------------------------------------------------------
		h4
			+icon('tags').shift-up.space-right
			| Tags
		hr.hr--light.hr--margin-small
		p Tags highlight special characteristics or features of your release. There are already a bunch of them but you
			| can also define new ones.
		.row.padder-top
			.col-sm-6

				//- SELECTED
				h5.h--shift-up.hr--margin-small Selected Tags
				.panel--dropzone-alt(ng-model="meta.tags",
				  data-drop="true",
				  data-jqyoui-options="{ accept: '.badge:not([ng-model=meta.tags])', activeClass: 'active', 'hoverClass': 'hover' }",
				  jqyoui-droppable="{ multiple: true, onDrop: 'tagDropped' }")
					div.padder-top(ng-repeat="tag in meta.tags")
						.badge.badge--tag(ng-model="meta.tags",
							data-drag="true",
							data-jqyoui-options="{ revert: 'invalid' }",
							jqyoui-draggable="{ animate: true, index: {{$index}} }")
								| {{ tag.name }}
								+icon('times-circle').small.shift-up.space-left.a(ng-click="removeTag(tag)")
						i.space-left {{ tag.description }}
					i(ng-show="meta.tags.length == 0") No tags selected. Drag and drop them from the right hand pane in here.
			.col-sm-6
				.rel-pos
					.panel--dropzone-alt-2(ng-model="tags",
					  data-drop="true",
					  data-jqyoui-options="{ accept:':not([ng-model=tags])', activeClass: 'active', hoverClass: 'hover' }",
					  jqyoui-droppable="{ multiple: true, onDrop: 'tagDropped' }")

						//- EXISTING
						h5.hr--margin-small.h--shift-up Existing Tags
						.badge.badge--tag(ng-repeat="tag in tags", ng-model="tags",
						  data-drag="true",
						  data-jqyoui-options="{ revert: 'invalid' }",
						  jqyoui-draggable='{ animate: true, index: {{$index}} }')
							| {{ tag.name }}
							+icon('question-circle').small.shift-up.space-left.a(
								tooltip="{{tag.description}}",
								tooltip-append-to-body="false",
								tooltip-trigger="click",
								tooltip-popup-delay="200")
						i(ng-show="tags.length == 0") No more tags available.

				button.btn.btn-default.padder-top.pull-right(ng-click="createTag()")
					+icon('plus-circle').space-right
					| Create New Tag

			.clearfix.padder-bottom


		//- LINKS
		//---------------------------------------------------------------------
		h4
			+icon('link').shift-up.space-right
			| Links
		hr.hr--light.hr--margin-small
		p You can add additional links to your release, such as to your WIP thread or other interesting resources.

		.row.row--fullwidth.row--no-margin
			.form-group.col-sm-3
				label Label
			.form-group.col-sm-9
				label URL
		.row.row--fullwidth(ng-repeat="link in release.links")
			.form-group.col-sm-3
				input.form-control(type="text", ng-model="link.label")
			.form-group.col-sm-9
				.input-group
					input.form-control(type="text", ng-model="link.url")
					span.input-group-addon: +icon('trash').smaller.a(ng-click="removeLink(link)")

		.row.row--fullwidth(init="newLink={}")
			.form-group.col-sm-3
				input.form-control(type="text", ng-model="newLink.label")
			.form-group.col-sm-9
				.input-group
					input.form-control(type="text", ng-model="newLink.url", on-enter="newLink=addLink(newLink)")
					span.input-group-addon: +icon('plus-circle').smaller.a(ng-click="newLink=addLink(newLink)")



		//---------------------------------------------------------------------
		h1 5. Set Compatibility
		hr
		p Here you can let users know which versions of Visual Pinball your release supports. For every uploaded file,
			| check which VP build you feel confident with.

		ul.list--files
			li.panel(ng-repeat="file in meta.files | fileext:['vpt','vpx']", , ng-class="{ error: errors.versions[0].files[meta.files.indexOf(file)]._compatibility }")
				.container
				.col--list-files-left
					+icon('{{ file.icon }}').svg-4x
				.col--list-files-right
					.col-md-12
						.block.text--large: strong {{ file.name }}
						hr.hr--margin-smaller
					.col-md-4
						span
							span Official Releases
						hr.hr--thin.hr--margin-small
						.simple-list(ng-repeat="build in builds.release | filter:{is_range:false}")
							input.checkbox--check(ng-checked="file.vpbuilds.indexOf(build.id) > -1", ng-click="toggleVPBuild(file, build)", id="dev-{{ file.storage.id }}-{{ build.id }}", type="checkbox")
							label(for="dev-{{ file.storage.id }}-{{ build.id }}") {{ build.label }}
					.col-md-4
						span
							span Nightly Builds
						hr.hr--thin.hr--margin-small
						.simple-list(ng-repeat="build in builds.nightly | filter:{is_range:false}")
							input.checkbox--check(ng-checked="file.vpbuilds.indexOf(build.id) > -1", ng-click="toggleVPBuild(file, build)", id="dev-{{ file.storage.id }}-{{ build.id }}", type="checkbox")
							label(for="dev-{{ file.storage.id }}-{{ build.id }}") {{ build.label }}
					.col-md-4
						span
							span Test Builds
						hr.hr--thin.hr--margin-small
						.simple-list(ng-repeat="build in builds.experimental | filter:{is_range:false}")
							input.checkbox--check(ng-checked="file.vpbuilds.indexOf(build.id) > -1", ng-click="toggleVPBuild(file, build)", id="dev-{{ file.storage.id }}-{{ build.id }}", type="checkbox")
							label(for="dev-{{ file.storage.id }}-{{ build.id }}") {{ build.label }}
					.col-md-12
						p.padder-top
						button.btn.btn-default.pull-right(ng-click="addVPBuild()")
							+icon('plus-circle').space-right
							| Add Another
				.clearfix
				.alert.alert-danger(ng-show="errors.versions[0].files[meta.files.indexOf(file)]._compatibility")
					+icon('warning').shift-up.space-right
					| {{ errors.versions[0].files[meta.files.indexOf(file)]._compatibility }}
				p.padder-top(ng-hide="errors.versions[0].files[meta.files.indexOf(file)]._compatibility")

		.text-center(ng-show="(meta.files | fileext:['vpt','vpx']).length == 0")
			+icon('warning').shift-up.space-right
			i Upload any VP tables under 1. before setting compatibility.



		//---------------------------------------------------------------------
		h1 6. Give Credits
		hr

		//- MOD
		//---------------------------------------------------------------------
		h4
			+icon('wrench').shift-up.space-right
			| Mod
		hr.hr--light.hr--margin-small

		.row
			.col-sm-8
				p Is this a mod of another release?
			.col-sm-4.text-right
				.radio-inline.radio--lg
					label
						input.input-lg(type="radio", name="ismod", ng-value="true", ng-model="meta.isMod")
						span Yes

				.radio-inline.radio--lg
					label
						input(type="radio", name="ismod", ng-value="false", ng-model="meta.isMod")
						span No

		button.btn.btn-default.pull-right(ng-show="meta.isMod")
			+icon('search').space-right
			| Find
		.clearfix


		//- ACKNOWLEDGEMENTS
		//---------------------------------------------------------------------
		h4
			+icon('heart').shift-up.space-right
			| Acknowledgements
		hr.hr--light.hr--margin-small

		p Show your love to those who helped you. In the field below, you can add your honorable mentions. It's
			| recommended to write a <a href="http://daringfireball.net/projects/markdown/syntax#list" target="_blank">list</a>,
			| but you're free to describe them however you want.

		.form-group
			tabset.tabset--light
				label.label--small.pull-right(markdown-info="Markdown enabled.")
				tab
					tab-heading(title="Write"): +icon('edit')
					textarea.textarea--full.msd-elastic(placeholder="Description of the release", ng-model="release.acknowledgements")
				tab
					tab-heading(title="Preview"): +icon('eye')
					div.markdown(markdown="release.acknowledgements")
					label.tab__label(ng-show="!release.acknowledgements || release.acknowledgements.length == 0") Nothing to preview.
			i This will show up under your release's acknowledgements.


		//---------------------------------------------------------------------
		h1 7. Upload Media
		hr

		p These show off your work. You should provide both image and video at full HD resolution at <i>1920&times;1080</i>.
			| For every table file you’ve provided in step 1, at least the screenshot is mandatory. If you provide a video,
			| it should show the table in attract mode (no gameplay).

		span(ng-repeat="file in meta.files | fileext:['vpt','vpx']")
			h2.h--smaller
				+icon('{{ file.icon }}').svg-2x.shift-up
				| {{ file.name }}
			hr.hr--light.hr--shifted-up
			.row
				.col-sm-6.playfield--rotate-on-upload(make-loaded="loaded")
					span.pre-h4 Playfield
					h4.h--large Screenshot
					.panel.panel--blank.playfield--image(ng-file-drop="onMediaUpload(file.storage.id, 'playfieldImage', $files)", ng-file-drag-over-class="panel--dragging", ng-class="{ error: errors.versions[0].files[meta.files.indexOf(file)]._media.playfield_image }")
						input#uploadBackglass.hide(type="file", ng-file-select="onMediaUpload(file.storage.id, 'playfieldImage', $files)")
						.panel-body.a.a--darker(ng-click="openUploadDialog('playfieldImage', '#uploadBackglass')")
							.img.img--ar-ws.loaded(img-bg="meta.mediaFiles[file.storage.id].playfieldImage.variations['medium-2x'].url")
								.text-center.vertical-center--100
									progressbar.progress--fixed-absolute.progress-striped.active(value="mediaFiles[file.storage.id].playfieldImage.progress", ng-show="mediaFiles[file.storage.id].playfieldImage.uploading")
									.span(ng-show="!img.url")
										+icon('photo').svg-4x(ng-class="{ transparent: mediaFiles[file.storage.id].playfieldImage.uploading }")
										p {{ mediaFiles[file.storage.id].playfieldImage.status || 'Click or drag and drop here' }}
									.span(ng-show="img.loading")
										+icon('gear').svg-3x.svg-spin--slow
										p Generating thumbnails...

				.col-sm-6.playfield--rotate-on-upload(make-loaded="loaded", make-loaded-event="video", make-loaded-post="loadingFinished")
					span.pre-h4 Playfield
					h4.h--large Video

					.panel.panel--blank.playfield--video(ng-show="loadingFinished", ng-file-drop="onMediaUpload(file.storage.id, 'playfieldVideo', $files)", ng-file-drag-over-class="panel--dragging")
						.panel-body.a.a--darker(ng-click="openUploadDialog('playfieldVideo', '#uploadBackglass')")
							.img.img--ar-fs.loaded
								.video-wrapper
									video.video-js.vjs-sublime-skin(videojs, width="100%", height="100%", source="{{ meta.mediaFiles[file.storage.id].playfieldVideo.variations['small-rotated'].url }}")

					.panel.panel--blank.playfield--image(ng-hide="loadingFinished", ng-file-drop="onMediaUpload(file.storage.id, 'playfieldVideo', $files)", ng-file-drag-over-class="panel--dragging")
						input#uploadBackglass.hide(type="file", ng-file-select="onMediaUpload(file.storage.id, 'playfieldVideo', $files)")
						.panel-body.a.a--darker(ng-click="openUploadDialog('playfieldVideo', '#uploadBackglass')")
							.img.img--ar-ws.loaded(img-bg="meta.mediaFiles[file.storage.id].playfieldVideo.variations['still'].url")
								.text-center.vertical-center--100
									progressbar.progress--fixed-absolute.progress-striped.active(value="mediaFiles[file.storage.id].playfieldVideo.progress", ng-show="mediaFiles[file.storage.id].playfieldVideo.uploading")
									span(ng-show="!img.url")
										+icon('video-camera').svg-4x(ng-class="{ transparent: mediaFiles[file.storage.id].playfieldVideo.uploading }")
										p {{ mediaFiles[file.storage.id].playfieldVideo.status || 'Click or drag and drop here' }}
									span(ng-show="img.loading")
										+icon('gear').svg-3x.svg-spin--slow
										p Creating video screenshot...
									span(ng-show="videoLoading").progress-note--with-background
										+icon('gear').svg-3x.svg-spin--slow
										p Generating video thumbnail...

			.alert.alert-danger(ng-show="errors.versions[0].files[meta.files.indexOf(file)]._media.playfield_image")
				+icon('warning').shift-up.space-right
				| {{ errors.versions[0].files[meta.files.indexOf(file)]._media.playfield_image }}

		.text-center(ng-show="(meta.files | fileext:['vpt','vpx']).length == 0")
			+icon('warning').shift-up.space-right
			i Upload any VP tables under 1. before uploading media.


		//------------------------- FINISH LINE -------------------------------
		//---------------------------------------------------------------------
		hr
		.alert.alert-danger.alert--inverted.padder-bottom(ng-show="errors")
			+icon('warning').shift-up.space-right
			| There were errors while submitting your release. Please scroll up and fix the marked fields.
		button.btn.btn-default.btn-lg(ng-click="reset()") Reset
		button.btn.btn-primary.btn-lg.pull-right(ng-click="submit()") Add New Release
		.clearfix

		//- TODO fix
		p &nbsp;

	.col-sm-3.col--menu
		img.img--logo(ng-show="game.media.logo.url", ng-src="{{ game.media.logo.url }}")
		h3.h--multiline.text-center {{ game.title }}
		.text-center {{ game.manufacturer }} · {{ game.year }}
