include ../template/_mixins

.row.row--fullheight(ng-controller="ReleaseFileEditCtrl")

	//-----------------------------------------
	// MAIN COLUMN (left)
	//-----------------------------------------
	.col-sm-9.col--main
		h1.h--primary Edit Release
		hr.hr--primary
		p Here you can edit your release. If you want to add another version or another flavor to an
			| existing version, use the <i>Upload File</i> button on the right.

		//- NAME
		//-----------------------------------------
		h4.h--primary.padder-top-2x Release Name
		.form-group(ng-class="{ error: errors.name }")
			input.form-control.input-lg(type="text", placeholder="Title", ng-model="release.name")
			.alert.alert-danger(ng-show="errors.name")
				+icon('warning').shift-up.space-right
				| {{ errors.name }}

		//- DESCRIPTION
		//-----------------------------------------
		h4.h--primary.padder-top-2x Description
		.form-group
			uib-tabset.tabset--light
				label.label--small.pull-right(markdown-info="Markdown enabled.")
				uib-tab
					uib-tab-heading(title="Write"): +icon('edit')
					textarea.textarea--full.msd-elastic(placeholder="Description of the release", ng-model="release.description")
				uib-tab
					uib-tab-heading(title="Preview"): +icon('eye')
					div.markdown(markdown="release.description")
					label.tab__label(ng-show="!release.description || release.description.length == 0") Nothing to preview.
			i This will show up globally under your release.


		//- AUTHORS
		//-----------------------------------------
		h4.h--primary.padder-top-2x Authors
		i.pull-left(ng-show="release.authors.length == 0") No authors added.
		.row--fullwidth
			.media.media--mini.media--mini-noborders.col-sm-4(ng-repeat="author in release.authors", ng-mouseenter="hovering=true", ng-mouseleave="hovering=false")
				.media-left.media-middle
					img.img-avatar.img-avatar--sm(gravatar-src="author.user.gravatar_id", gravatar-default="404", fallback-icon="user")
				.media-body
					h6.h--no-margin.h--lighter.media-heading {{ author.user.name }}
					span {{ author.roles.join(', ') }}
				.media--edit-panel.fade-animation(ng-show="hovering")
					+icon('pencil').pos-pencil.a.smaller(ng-click="addAuthor(author)")
					+icon('trash').pos-trash.a.smaller(ng-click="removeAuthor(author)")
		button.btn.btn-default.padder-top.pull-right(ng-click="addAuthor()")
			+icon('plus-circle').space-right
			| Add Author
		.clearfix.padder-bottom
		.alert.alert-danger.padder-bottom(ng-show="errors.authors")
			+icon('warning').shift-up.space-right
			| {{ errors.authors }}


		//- TAGS
		//-----------------------------------------
		h4.h--primary.padder-top-2x Tags
		.row.padder-top
			.col-sm-6

				//- SELECTED
				h5.h--shift-up.hr--margin-small Selected Tags
				.panel--dropzone-alt(ng-model="meta.tags",
				data-drop="true",
				data-jqyoui-options="{ accept: '.badge:not([ng-model=meta.tags])', activeClass: 'active', 'hoverClass': 'hover' }",
				jqyoui-droppable="{ multiple: true, onDrop: 'tagDropped' }")
					div.padder-top(ng-repeat="tag in release.tags")
						.badge.badge--tag(
							ng-model="meta.tags",
							data-drag="true",
							data-jqyoui-options="{ revert: 'invalid' }",
							jqyoui-draggable="{ animate: true, index: {{$index}} }"
						) {{ tag.name }}
							+icon('times-circle').small.shift-up.space-left.a(ng-click="removeTag(tag)")
						i.space-left {{ tag.description }}
					i(ng-show="meta.tags.length == 0") No tags selected. Drag and drop them from the right hand pane in here.
			.col-sm-6
				.rel-pos
					.panel--dropzone-alt-2(
						ng-model="tags",
						data-drop="true",
						data-jqyoui-options="{ accept:':not([ng-model=tags])', activeClass: 'active', hoverClass: 'hover' }",
						jqyoui-droppable="{ multiple: true, onDrop: 'tagDropped' }"
					)

						//- EXISTING
						h5.hr--margin-small.h--shift-up Existing Tags
						.badge.badge--tag(ng-repeat="tag in tags", ng-model="tags",
						data-drag="true",
						data-jqyoui-options="{ revert: 'invalid' }",
						jqyoui-draggable='{ animate: true, index: {{$index}} }')
							| {{ tag.name }}
							+icon('question-circle').small.shift-up.space-left.a(
							uib-tooltip="{{ tag.description }}",
							tooltip-append-to-body="false",
							tooltip-trigger="click",
							tooltip-popup-delay="200")
						i(ng-show="tags.length == 0") No more tags available.

				button.btn.btn-default.padder-top.pull-right(ng-click="createTag()")
					+icon('plus-circle').space-right
					| Create New Tag

			.clearfix.padder-bottom


		//- LINKS
		//-----------------------------------------
		h4.h--primary Links
		.row.row--fullwidth.row--no-margin
			.form-group.col-sm-3
				label Label
			.form-group.col-sm-9
				label URL
		.row.row--fullwidth(ng-repeat="link in release.links")
			.form-group.col-sm-3
				input.form-control(type="text", ng-model="link.label")
			.form-group.col-sm-9
				.input-group
					input.form-control(type="text", ng-model="link.url")
					span.input-group-addon: +icon('trash').smaller.a(ng-click="removeLink(link)")
		.row.row--fullwidth
			.form-group.col-sm-3
				input.form-control(type="text", ng-model="newLink.label")
			.form-group.col-sm-9
				.input-group
					input.form-control(type="text", ng-model="newLink.url", on-enter="addLink(newLink)")
					span.input-group-addon: +icon('plus-circle').smaller.a(ng-click="addLink(newLink)")


		//- ACKNOWLEDGEMENTS
		//-----------------------------------------
		h4.h--primary Acknowledgements
		.form-group
			uib-tabset.tabset--light
				label.label--small.pull-right(markdown-info="Markdown enabled.")
				uib-tab
					tab-heading(title="Write"): +icon('edit')
					textarea.textarea--full.msd-elastic(placeholder="List of people to thank", ng-model="release.acknowledgements")
				uib-tab
					tab-heading(title="Preview"): +icon('eye')
					div.markdown(markdown="release.acknowledgements")
					label.tab__label(ng-show="!release.acknowledgements || release.acknowledgements.length == 0") Nothing to preview.


		//- FOOTER BUTTONS
		//-----------------------------------------
		hr
		.alert.alert-danger.alert--inverted.padder-bottom(ng-show="errors && errors.__count")
			+icon('warning').shift-up.space-right
			| There were errors while submitting your release. Please scroll up and fix the marked fields.
		button.btn.btn-default.btn-lg(ng-click="reset()") Reset
		button.btn.btn-primary.btn-lg.pull-right(ng-click="submit()") Update
		.clearfix

		//- TODO fix
		p.padder-bottom

	//-----------------------------------------
	// MENU BAR (right)
	//-----------------------------------------
	.col-sm-3.col--menu.text-center
		img.img--logo(ng-show="game.media.logo.url", ng-src="{{ game.media.logo.variations['medium' + pixelDensitySuffix].url }}")
		h3.h--multiline {{ game.title }}
		| {{ release.name }}

		a.btn.padder-top-2x(ui-sref="addReleaseVersion({ id: game.id, releaseId: release.id })")
			+icon('plus-circle').space-right.hidden-md
			| Upload File

		p.clearfix.padder-bottom-2x
