include ../template/_mixins

.col-lg-6.col-md-12(ng-repeat="release in releases", ng-click="navRelease(release.game.id, release.id)")
	.panel.panel--animated.panel--animated--less.ng-cloak
		.clearfix
		.col--list-mini-left
			.img.img--ar-square.img--rounded-left(img-bg="release.thumb.image.url")
		.col--list-mini-right
			.a.pull-right.space-right(
				uib-tooltip="{{ release.starred ? 'Unstar' : 'Star' }} this release",
				tooltip-placement="right",
				tooltip-append-to-body="true",
				ng-show="auth.hasPermission('releases/star')",
				ng-class="{ 'a--primary': release.starred }"
			)
				+icon('star')(ng-click="toggleReleaseStar(release, $event)").shift-up-2x
			h1.h--small.h--no-margin {{ release.game.title }}
			label.label--block {{ release.name }}
			span.small.pull-right.space-right(am-time-ago="release.released_at")
			div.small.oneliner by {{ release.authors[0].user.name }}
		.clearfix