.col-md-4.col-sm-6.col-xs-12.fade-animation(ng-repeat="release in releases", ng-click="navRelease(release.game.id, release.id)")
	.panel.panel--animated.ng-cloak
		.img.img--rounded-top(img-bg="release.thumb.image.url", ng-class="flavorFilter && flavorFilter.orientation === 'ws' ? 'img--ar-ws' : 'img--ar-fs'")
		.text-center.padder-horizontal
			h1.h--small {{ release.game.title }}
			label.label--subtitle {{ release.name }}
			.center-block.padder-bottom-2x
				img.img-avatar.img-avatar--xsm(
					ng-repeat="author in release.authors",
					gravatar-src="author.user.gravatar_id",
					gravatar-default="retro",
					fallback-icon="user",
					title="{{ author.user.name }}: {{ author.roles.join(', ') }}")