include ../template/_mixins

.theme-light
	.modal-header
		h1.h--no-margin.h--small
			+icon('package').space-right.svg-2x
			| &nbsp;Add A New Visual Pinball Build
	.modal-body
		p Create a new reference to a Visual Pinball build.
		form.form-horizontal(role="form")

			//- LABEL
			//-----------------------------------------------------------------
			.form-group(ng-class="{ error: errors.label }")
				label.col-sm-3.control-label Label
				.col-sm-7
					input.form-control(ng-model="build.label", placeholder="Version or build name...", ng-required)
			div.alert.alert-danger.padder-bottom(ng-show="errors.label")
				+icon('warning').shift-up.space-right
				| {{ errors.label }}


			//- BUILD DATE
			//-----------------------------------------------------------------
			.form-group(ng-class="{ error: errors.built_at }")
				label.col-sm-3.control-label Release/Build Date
				.col-sm-3
					.input-group
						input.form-control.datepicker(type='text', ng-model='build.built_at', ng-required='true',
							datepicker-popup="shortDate",
							is-open="calendarOpened",
							close-text="Close",
							show-weeks="false",
							starting-day="1")
						span.input-group-addon: +icon('calendar').a(ng-click='openCalendar($event)')

			div.alert.alert-danger.padder-bottom(ng-show="errors.built_at")
				+icon('warning').shift-up.space-right
				| {{ errors.built_at }}


			//- DESCRIPTION
			//-----------------------------------------------------------------
			.form-group(ng-class="{ error: errors.description }")
				label.col-sm-3.control-label Description
				.col-sm-7
					tabset.tabset--light
						label.label--small.pull-right(markdown-info="Markdown enabled.")
						tab
							tab-heading(title="Write"): +icon('edit')
							textarea.textarea--full.msd-elastic(placeholder="Description of the build", ng-model="build.description")
						tab
							tab-heading(title="Preview"): +icon('eye')
							div.markdown(markdown="build.description")
							label.tab__label(ng-show="!build.description || build.description.length == 0") Nothing to preview.
			div.alert.alert-danger(ng-show="errors.description")
				+icon('warning').shift-up.space-right
				| {{ errors.description }}


			//- DOWNLOAD URL
			//-----------------------------------------------------------------
			.form-group(ng-class="{ error: errors.download_url }")
				label.col-sm-3.control-label Download URL
				.col-sm-7
					input.form-control(ng-model="build.download_url", ng-required)
			div.alert.alert-danger.padder-bottom(ng-show="errors.download_url")
				+icon('warning').shift-up.space-right
				| {{ errors.download_url }}


			//- SUPPORT URL
			//-----------------------------------------------------------------
			.form-group(ng-class="{ error: errors.support_url }")
				label.col-sm-3.control-label Support URL
				.col-sm-7
					input.form-control(ng-model="build.support_url", ng-required)
			div.alert.alert-danger.padder-bottom(ng-show="errors.support_url")
				+icon('warning').shift-up.space-right
				| {{ errors.support_url }}

	.modal-footer
		button.btn.btn-default(ng-click="$dismiss()") Cancel
		button.btn.btn--secondary(ng-click="add()") Create
