include ../template/_mixins

.theme-light()
	.modal-header
		h1.h--no-margin.h--small
			+icon('ext').space-right
			| &nbsp;Edit Version <strong>{{ releaseVersion.version }}</strong>
	.modal-body

		//- CHANGELOG
		//-----------------------------------------
		h4.h--primary Changelog
		.form-group
			uib-tabset.tabset--light
				label.label--small.pull-right(markdown-info="Markdown enabled.")
				uib-tab
					uib-tab-heading(title="Write"): +icon('edit')
					textarea.textarea--full.msd-elastic(placeholder="Release Information", ng-model="releaseVersion.changes")
				uib-tab
					uib-tab-heading(title="Preview"): +icon('eye')
					div.markdown(markdown="releaseVersion.changes")
					label.tab__label(ng-show="!releaseVersion.changes || releaseVersion.changes.length == 0") Nothing to preview.

		//- RELEASE DATE
		//-----------------------------------------
		h4.h--primary.padder-top-2x Release Date
		.form-group(ng-class="{ error: errors.versions[0].released_at }")
			.row
				.col-sm-3: .input-group
					input.form-control.datepicker(type='text', ng-model='releaseVersion.released_at', ng-required='true',
						uib-datepicker-popup="yyyy-MM-dd",
						format-day-header="EE"
						is-open="calendarOpened",
						close-text="Close",
						show-weeks="false",
						starting-day="1"
					)
					span.input-group-addon: +icon('calendar').a(ng-click='openCalendar($event)')
				.col-sm-2
					uib-timepicker(ng-model="meta.releaseTime", hour-step="1", minute-step="5", show-meridian="ismeridian")

		//- PLAYFIELD SHOTS
		//-----------------------------------------
		h4.h--primary.padder-top-2x Playfield Media
		span(ng-repeat="file in meta.files | fileext:['vpt','vpx']")
			h2.h--smaller
				+icon('{{ file.icon }}').svg-2x.shift-up.space-right-less
				| {{ file.name }}
			hr.hr--light.hr--shifted-up
			.row

				//-- playfield image
				.col-sm-6.playfield--rotate-on-upload(class="angle--{{ meta.mediaLinks[getMediaKey(file, 'playfield_image')].rotation }}")
					span.pre-h4 Playfield
					h4.h--large
						| Screenshot

						//- rotate icons
						.pull-right
							a(ng-click="rotate(file, 'playfield_image', 90)", title="Rotate left"): +icon('rotate-left')
							a(ng-click="rotate(file, 'playfield_image', -90)", title="Rotate right"): +icon('rotate-right')

					//- drop zone
					.panel.panel--blank.playfield--image(
						file-upload="{ type: 'playfield', key: getMediaKey(file, 'playfield_image'), status: meta.mediaFiles, onSuccess: onMediaUpload, onClear: onMediaClear, allowedExtensions: ['jpg', 'png'], allowMultipleFiles: false }",
						ngf-drag-over-class="'panel--dragging'",
						ng-class="{ error: errors.versions[0].files[meta.files.indexOf(file)]._media.playfield_image }"
					)
						.panel-body.a.a--darker
							.img.img--ar-ws.loaded(
								img-bg="meta.mediaLinks[getMediaKey(file, 'playfield_image')]",
								error="onBackglassImageError(file, 'playfield_image')"
							)
								//- content panel
								.text-center.vertical-center--100
									//- progress bar
									uib-progressbar.progress--fixed-absolute.progress-striped.active(
										value="meta.mediaFiles[getMediaKey(file, 'playfield_image')].progress",
										ng-show="meta.mediaFiles[getMediaKey(file, 'playfield_image')].uploading"
									)
									//- thumb
									.span(ng-show="!img.url")
										+icon('photo').svg-4x(ng-class="{ transparent: meta.mediaFiles[getMediaKey(file, 'playfield_image')].uploading }")
										p {{ meta.mediaFiles[getMediaKey(file, 'playfield_image')].status || 'Click or drag and drop here' }}
									.span(ng-show="img.loading && !meta.mediaFiles[getMediaKey(file, 'playfield_image')].uploading")
										+icon('gear').svg-3x.svg-spin--slow
										p Generating thumbnails...

				//-- playfield video
				.col-sm-6.playfield--rotate-on-upload(make-loaded="{ loaded: getReleaseFile(file).flavor.orientation !== 'ws' }", make-loaded-event="video", make-loaded-post="loadingFinished")
					span.pre-h4 Playfield
					h4.h--large Video

					.panel.panel--blank.playfield--video(
					file-upload="{ type: getPlayfieldType(file), key: getMediaKey(file, 'playfield_video'), status: meta.mediaFiles, onSuccess: onMediaUpload, onClear: onMediaClear, allowedExtensions: ['flv', 'f4v', 'mp4', 'avi'], allowMultipleFiles: false, disableSelect: true }",
						ngf-drag-over-class="'panel--dragging'",
						ng-class="{ error: errors.versions[0].files[meta.files.indexOf(file)]._media.playfield_video }",
						ng-show="loadingFinished",
					)
						.panel-body.a.a--darker
							.img.img--ar-fs.loaded
								.video-wrapper
									video.video-js.vjs-sublime-skin(videojs, width="100%", height="100%", video-src="{{ meta.mediaFiles[getMediaKey(file, 'playfield_video')].storage.variations['small-rotated'] }}")

					//- drop zone
					.panel.panel--blank.playfield--image(
					file-upload="{ type: getPlayfieldType(file), key: getMediaKey(file, 'playfield_video'), status: meta.mediaFiles, onSuccess: onMediaUpload, onClear: onMediaClear, allowedExtensions: ['flv', 'f4v', 'mp4', 'avi'], allowMultipleFiles: false }",
						ngf-drag-over-class="'panel--dragging'",
						ng-class="{ error: errors.versions[0].files[meta.files.indexOf(file)]._media.playfield_video }",
						ng-hide="loadingFinished"
					)
						.panel-body.a.a--darker
							.img.img--ar-ws.loaded(
								img-bg="meta.mediaLinks[getMediaKey(file, 'playfield_video')]",
								error="onBackglassImageError(file, 'playfield_video')"
							)
								//- content panel
								.text-center.vertical-center--100
									//- progress bar
									uib-progressbar.progress--fixed-absolute.progress-striped.active(
										value="meta.mediaFiles[getMediaKey(file, 'playfield_video')].progress",
										ng-show="meta.mediaFiles[getMediaKey(file, 'playfield_video')].uploading"
									)
									//-
									span(ng-show="!img.url")
										+icon('video-camera').svg-4x(ng-class="{ transparent: meta.mediaFiles[getMediaKey(file, 'playfield_video')].uploading }")
										p {{ meta.mediaFiles[getMediaKey(file, 'playfield_video')].status || 'Click or drag and drop here' }}
									span(ng-show="img.loading")
										+icon('gear').svg-3x.svg-spin--slow
										p Creating video screenshot...
									span(ng-show="videoLoading").progress-note--with-background
										+icon('gear').svg-3x.svg-spin--slow
										p Generating video thumbnail...

			.alert.alert-danger(ng-show="errors.versions[0].files[meta.files.indexOf(file)]._media.playfield_image")
				+icon('warning').shift-up.space-right
				| {{ errors.versions[0].files[meta.files.indexOf(file)]._media.playfield_image }}


	.modal-footer
		button.btn.btn-hollow.pull-left(ng-click="$dismiss()") Cancel
		button.btn.btn--secondary(ng-click="add()")
			+icon('check-circle').space-right
			| Save Changes

include ../template/timepicker