include ../template/_mixins

.theme-light
	.modal-header
		h1.h--no-margin.h--small
			+icon('user').space-right
			| &nbsp;{{ adding ? 'Add' : 'Edit' }} Author
	.modal-body
		h4 Choose User
		hr.hr--margin-small.hr--light
		p Authors must be registered users. Start typing below in order to search.

		.form-group(ng-class="{ error: errors.user }")
			.input-group
				input.form-control(type="text", placeholder="Start typing...",
					ng-model="query",
					ng-change="queryChange()",
					uib-typeahead="user as user.name for user in findUser($viewValue)",
					typeahead-on-select="userSelected($item, $model, $label)",
					typeahead-loading="searching",
					typeahead-template-url="userListItem",
					typeahead-min-length="3",
					typeahead-wait-ms="250")
				span.input-group-addon
					+icon('circle-o-notch').small.svg-spin(ng-show="searching")
					+icon('check').smaller(ng-show="!searching && isValidUser")
					+icon('times').smaller(ng-show="!searching && !isValidUser")

		div.alert.alert-danger.text-left(ng-show="errors.user")
			+icon('warning').shift-up.space-right
			| {{ errors.user }}

		h4.padder-top-2x Add Roles
		hr.hr--margin-small.hr--light
		p Every author can have one or more roles in the creation process. You can
			| assign up to three roles per author.

		.form-horizontal
			.form-group
				label.col-sm-2.control-label(for="role") Role
				.col-sm-7
					input#role.form-control(type="text", ng-model="role", placeholder="3D Models, Playfield, Scripts, ...")
				.col-sm-3
					button.btn.btn-default.pull-right(ng-click="addRole(role)")
						+icon('plus-circle').space-right
						| Add
			.form-group(ng-show="roles.length > 0")
				label.col-sm-2.control-label Roles
				.col-sm-10
					.badge(ng-repeat="r in roles") {{ r }}
						span.a(ng-click="removeRole(r)") &times;

		.clearfix
		div.alert.alert-danger.text-left(ng-show="errors.roles")
			+icon('warning').shift-up.space-right
			| {{ errors.roles }}

	.modal-footer
		button.btn.btn-default(ng-click="$dismiss()") Cancel
		button.btn.btn--secondary(ng-click="add()") {{ adding ? 'Add' : 'Update' }} Author

	script#userListItem(type="text/ng-template")
		div.media.media--mini
			img.img-avatar.img-avatar--sm.pull-left(gravatar-src="match.model.gravatar_id", gravatar-default="404", fallback-icon="user")
			div.media-body
				h3.h--no-margin.h--lighter {{ match.model.name }}

