include ../template/_mixins

mixin buildForm(edit)
	form.form-horizontal(role="form")

		//-- ID / LABEL
		.form-group(ng-class="{ error: errors.label }")
			label.col-sm-3.control-label ID
			.col-sm-2
				input.form-control(ng-model="build.id", ng-required)
			label.col-sm-2.control-label Label
			.col-sm-3
				input.form-control(ng-model="build.label", ng-required)

		div.alert.alert-danger.padder-bottom(ng-show="errors.id")
			+icon('warning').shift-up.space-right
			| {{ errors.id }}
		div.alert.alert-danger.padder-bottom(ng-show="errors.label")
			+icon('warning').shift-up.space-right
			| {{ errors.label }}

		//- PLATFORM / MAJOR VERSION
		.form-group(ng-class="{ error: errors.platform || errors.major_version }")
			label.col-sm-3.control-label Platform
			.col-sm-5
				select.form-control(ng-options="item.id as item.label for item in platforms", ng-model="build.platform")
			.col-sm-2
				input.form-control(ng-model="build.major_version", ng-required)
		div.alert.alert-danger(ng-show="errors.platform")
			+icon('warning').shift-up.space-right
			| {{ errors.platform }}
		div.alert.alert-danger.padder-bottom(ng-show="errors.major_version")
			+icon('warning').shift-up.space-right
			| {{ errors.major_version }}

		//- TYPE
		.form-group(ng-class="{ error: errors.type }")
			label.col-sm-3.control-label Type
			.col-sm-4
				select.form-control(ng-options="item.id as item.label for item in types", ng-model="build.type")
			label.col-sm-2.control-label(for="buildRange") Is Range
			.col-sm-1
				input#buildRange.checkbox--toggle(type="checkbox", ng-model="build.is_range")
				label.shift-down(for="buildRange")
		div.alert.alert-danger.padder-bottom(ng-show="errors.type")
			+icon('warning').shift-up.space-right
			| {{ errors.type }}

		//- RELEASE DATE
		.form-group(ng-class="{ error: errors.built_at }")
			label.col-sm-3.control-label Released at
			.col-sm-3: .input-group
				input.form-control.datepicker(type='text', ng-model='build.built_at', ng-required='true',
					uib-datepicker-popup="yyyy-MM-dd",
					format-day-header="EE"
					is-open="calendarOpened",
					close-text="Close",
					show-weeks="false",
					starting-day="1"
				)
				span.input-group-addon: +icon('calendar').a(ng-click="openCalendar($event)")
		div.alert.alert-danger.padder-bottom(ng-show="errors.built_at")
			+icon('warning').shift-up.space-right
			| {{ errors.built_at }}

		//- DESCRIPTION
		.form-group(ng-class="{ error: errors.description }")
			label.col-sm-3.control-label Descr
			.col-sm-7
				editor.tabset--light(ng-model="build.description", placeholder="Description and release notes of the release")
		div.alert.alert-danger.padder-bottom(ng-show="errors.description")
			+icon('warning').shift-up.space-right
			| {{ errors.description }}

		//-- DOWNLOAD URL
		.form-group(ng-class="{ error: errors.download_url }")
			label.col-sm-3.control-label Download URL
			.col-sm-7
				input.form-control(ng-model="build.download_url", ng-required)
		div.alert.alert-danger.padder-bottom(ng-show="errors.download_url")
			+icon('warning').shift-up.space-right
			| {{ errors.download_url }}

		//-- SUPPORT URL
		.form-group(ng-class="{ error: errors.support_url }")
			label.col-sm-3.control-label Support URL
			.col-sm-7
				input.form-control(ng-model="build.support_url", ng-required)
		div.alert.alert-danger.padder-bottom(ng-show="errors.support_url")
			+icon('warning').shift-up.space-right
			| {{ errors.support_url }}

		if edit
			//- IS ACTIVE
			.form-group(ng-class="{ error: errors.is_active }")
				label.col-sm-3.control-label(for="buildActive") Active
				.col-sm-7
					input#buildActive.checkbox--toggle(type="checkbox", ng-model="build.is_active")
					label.shift-down(for="buildActive")

		//- GENERIC ERRORS
		div.alert.alert-danger.padder-bottom(ng-show="error")
			+icon('warning').shift-up.space-right
			| {{ error }}
