doctype html
block root
html(ng-app=appname, ng-controller="AppCtrl", lang="en")
	head
		title(ng-bind="pageTitle")
		meta(charset='utf8')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="theme-color", content="#2c190b")
		meta(http-equiv="Cache-control", content="public")
		meta(name="description", content="{{ metaDescription }}")
		meta(name="keywords", content="{{ metaKeywords }}")
		meta(name="thumbnail", content="{{ metaThumbnail }}")
		link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
		link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
		link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
		link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
		link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
		link(rel="icon", type="image/png", href="/favicon-196x196.png", sizes="196x196")
		link(rel="icon", type="image/png", href="/favicon-160x160.png", sizes="160x160")
		link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
		link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
		link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
		meta(name="msapplication-TileColor", content="#ec843d")
		meta(name="msapplication-TileImage", content="/mstile-144x144.png")
		meta(http-equiv="X-UA-Compatible", content="IE=Edge")
		if environment == 'production'
			link(rel="stylesheet", href=`/css/global_${gitinfo.local.branch.current.shortSHA}.min.css`)
		else
			for css in cssFiles
				link(rel="stylesheet", href=css.web)
		script(type="text/javascript", src="//use.typekit.net/xhi7wnv.js")
		script(type="text/javascript") try{Typekit.load();}catch(e){}

	body.theme-dark#top(ng-class="themeName")

		block body
		growl-notifications
		if environment == 'production'
			script(type="text/javascript", src=`/js/global_${gitinfo.local.branch.current.shortSHA}.min.js`)
		else
			for js in jsFiles
				script(type="text/javascript", src=js.web)

		form#downloadForm(method="GET", target="_self", action="{{ downloadLink }}")
			input(type="hidden", name="body", value="{{ downloadBody }}")
			input(type="hidden", name="save_as", value="1")
			input(type="hidden", name="token", value="{{ downloadToken }}")
		include ../../gfx/svg-defs.svg

		//- Google Analytics
		if gaEnabled
			script(type="text/javascript") (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[ r ].q || []).push(arguments)},i[r].l=1 * new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[ 0 ];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
