.row.row--fullheight

	// right column
	.col-sm-3.col--menu
		h1 Sections
		hr

		block menu
			if section && subsections[section]
				ul.nav.subnav
					for subsection in subsections[section]
						li
							a(href=subsection.link, ng-class="{ active: '#{subsection.link}' === path }" )
								| #{subsection.header || subsection.title}

			if section === 'api' && api.resources
				hr
				.input-group.padder-top-2x
					span.input-group-addon
						i.icon.icon-key
					input.form-control(type="text", placeholder="API Token", ng-model="$storage.apiToken")
					span.input-group-btn
						button.btn.btn-default(type="button", ng-click="$storage.apiToken = ''") &times;
				small: i Updates example code snippets.
				h1 Resources
				hr

				ul.nav.subnav
					each resource in api.resources
						li
							a(href='/api/reference/#{resource.uniqueId.substr(1)}', ng-class="{ active: 'ref/#{resource.uniqueId.substr(1)}' === subsection }")= resource.displayName || resource.relativeUri

		p.padder-top-2x

	// right column
	.col-sm-9.col--main
		| <div ui-view></div>

