.row.row--fullheight
	.col-sm-3.col--menu
		h1 Contents
		hr

		ul.nav.subnav
			li: a(href="/styleguide", ng-class="{ 'color-primary': subsection == 'index' }") Overview
		accordion.panel-group--transparent(close-others="true")
			for section, i in sections
				accordion-group(heading=section.title, is-open="sgIsOpen#{i}", ng-init="sgIsOpen#{i}=#{section.id}==subsection.substr(0, subsection.indexOf('.'))")
					ul.list-group.list-group--simple
						if section.childSections
							for subsection in section.childSections
								li.list-group-item: a(ui-sref='styleguide.section({ section: "#{subsection.reference()}"})', ng-class="{ active: subsection == '#{subsection.reference()}' }")=subsection.header()
		button.btn.btn-primary.btn--styleguide-toggle-theme(ng-click="toggleTheme()"): i.fa.fa-adjust

	.col-sm-9.col--main
		| <div ui-view></div>