article#kss-content

	- for section in sections
		a(name="#{section.reference}")
		h1 #{section.reference} #{section.header}
		div!=section.description

		- for modifier in section.modifiers
			h1.code=modifier.className
			hr
			div!=modifier.description
			div!=modifier.markup
			hr
			tabset
				tab
					tab-heading HTML
					pre!=modifier.markupHighlighted
				tab
					tab-heading Jade
					pre!=modifier.jade

	//pre=JSON.stringify(sections, null, "  ")