doctype html
html(ng-app="vpdb", ng-controller="AppCtrl", auth-header=authHeader)
	head
		meta(charset='utf8')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(http-equiv="Cache-control", content="public")
		base(href='/')
		link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
		link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
		link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
		link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
		link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
		link(rel="icon", type="image/png", href="/favicon-196x196.png", sizes="196x196")
		link(rel="icon", type="image/png", href="/favicon-160x160.png", sizes="160x160")
		link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
		link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
		link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
		meta(name="msapplication-TileColor", content="#ec843d")
		meta(name="msapplication-TileImage", content="/mstile-144x144.png")
		if environment == 'production'
			link(rel="stylesheet", href="/css/global_#{gitinfo.local.branch.current.shortSHA}.min.css")
		else
			for css in cssFiles
				link(rel="stylesheet", href=css.web)
		script(type="text/javascript", src="//use.typekit.net/xhi7wnv.js")
		script(type="text/javascript") try{Typekit.load();}catch(e){}
		title(ng-bind="pageTitle")

	body.theme-dark#top(ng-class="themeName")
		block body
		if environment == 'production'
			script(type="text/javascript", src="/js/global_#{gitinfo.local.branch.current.shortSHA}.min.js")
		else
			for js in jsFiles
				script(type="text/javascript", src=js.web)