include ../template/_mixins
div(ng-class="{ media: !!user }")
	div.media-left.avatar(ng-show="user")
		img.img-avatar.pull-left(gravatar-src="user.gravatar_id", gravatar-default="retro", fallback-icon="user")
	div.media--full-width(ng-class="{ 'media-body': !!user }")
		uib-tabset
			.pull-right
				+icon('txt-bold').a(ng-click="textBold()", uib-tooltip="Add bold text", tooltip-placement="top", tooltip-append-to-body="true", tooltip-popup-delay="500")
				+icon('txt-italic').a.space-right-2x(ng-click="textItalic()", uib-tooltip="Add italic text", tooltip-placement="top", tooltip-append-to-body="true", tooltip-popup-delay="500")
				+icon('txt-quote').a(ng-click="textQuote()", uib-tooltip="Insert a quote", tooltip-placement="top", tooltip-append-to-body="true", tooltip-popup-delay="500")
				+icon('txt-code').a.space-right-2x(ng-click="textCode()", uib-tooltip="Insert code", tooltip-placement="top", tooltip-append-to-body="true", tooltip-popup-delay="500")
				+icon('txt-bulleted-list').a(ng-click="textUnorderedList()", uib-tooltip="Add a bulleted list", tooltip-placement="top", tooltip-append-to-body="true", tooltip-popup-delay="500")
				+icon('txt-numbered-list').a.space-right-2x(ng-click="textOrderedList()", uib-tooltip="Add a numbered list", tooltip-placement="top", tooltip-append-to-body="true", tooltip-popup-delay="500")
				+icon('image').a(ng-click="textImage()", uib-tooltip="Insert an image", tooltip-placement="top", tooltip-append-to-body="true", tooltip-popup-delay="500")
				+icon('link').a(ng-click="textLink()", uib-tooltip="Insert a link", tooltip-placement="top", tooltip-append-to-body="true", tooltip-popup-delay="500")
			uib-tab
				uib-tab-heading(title="Write")
					+icon('edit')
					.panel-triangle(ng-show="user")
				textarea.textarea--full.animate(
					placeholder="{{ $parent.$parent.placeholder }}",
					ng-model="$parent.$parent.text",
					ng-trim="false",
					msd-elastic,
					mentio,
					mentio-items="foundUsers",
					mentio-search="findUser(term)",
					mentio-select="getUserMention(item)",
					mentio-template-url="user-item.html"
				)
			uib-tab
				uib-tab-heading(title="Preview"): +icon('eye')
				div.markdown(markdown="$parent.$parent.text")
				label.tab__label(ng-show="!$parent.$parent.text || $parent.$parent.text.length == 0") Nothing to preview.
		label.label--small.padder-bottom.padder-top-less(markdown-info="{{ markdownText }}")

