include ../template/_mixins

.jumbotron

	h3.h--larger Find your Game.

	//- SEARCH
	//-------------------------------------------------------------------------
	.collapse--search

		div(uib-collapse="searchResult")
			.spacer &nbsp;
		.panel(uib-collapse="!searchResult")
			.container(ng-class="{ 'paging-padder': pagination.count > 12 }")
				.row.fade2-animation(ng-show="games.length > 0")
					.clear
						+icon('times')(ng-click="q = ''").a
					.paginator(ng-show="pagination.count > 12")
						span(ng-show="pagination.links.first", ng-click="paginate(pagination.links.first)"): +icon('angle-left-skip').shift-up.smaller.a.a--lighter
						span.space-left(ng-show="pagination.links.prev", ng-click="paginate(pagination.links.prev)"): +icon('angle-left').shift-up.smaller.a.a--lighter
						span.small.space-left PAGE &nbsp; {{ pagination.page }} / {{ Math.ceil(pagination.count / pagination.size) }}
						span.space-left(ng-show="pagination.links.next", ng-click="paginate(pagination.links.next)"): +icon('angle-right').shift-up.smaller.a.a--lighter
						span.space-left(ng-show="pagination.links.last", ng-click="paginate(pagination.links.last)"): +icon('angle-right-skip').shift-up.smaller.a.a--lighter

					.col-md-3.col-sm-4.col-xs-6(ng-repeat="game in games", ng-click="navGame(game.id)")
						.panel.panel--animated.ng-cloak
							.img.img--ar-bg.img--rounded-top(img-bg="game.backglass.variations['small' + pixelDensitySuffix].url")
							.text-center.padder-horizontal
								h1.h--small {{ game.title }}
								label.label--subtitle {{ game.manufacturer }} &middot; {{ game.year }}

				p.padder-bottom-2x(ng-show="!games.length && !searching"): i No games found containing "{{ q }}".
				p.padder-bottom-2x(ng-show="!games.length && searching"): i Searching...

		.searchbox.abs-center
			form.form-inline
				.input-group.input-group--separated
					input.form-control.input--lighter(type="text", ng-model="q", focus-on)
					.input-group-addon
						+icon('search').space-left

	//- INFO
	//-------------------------------------------------------------------------
	.collapse--info
		div(uib-collapse="whatsThis")
			.spacer &nbsp;
		.panel(uib-collapse="!whatsThis")

			.clear
				+icon('times')(ng-click="whatsThis = false").a

			h3.h--large.h--primary What's this?
			p.center-block
				| Welcome to VPDB, the Virtual Pinball Database. VPDB is a place where people can share their digital
				| recreations of virtual pinball tables and everything else related to virtual pinball.

			.row.padder-top-3x
				.col-sm-4.text-center
					p: +icon('github-alt').svg-3x
					p VPDB is <a href="https://github.com/vpdb/backend" class="a--primary">open source</a>. It can be deployed and improved by anyone interested.
						hr.hr--light.visible-xs-block
				.col-sm-4.text-center
					p: +icon('database').svg-3x
					p VPDB is <a href="https://developer.vpdb.io/api/v1/releases" class="a--primary">structured</a>. It uses its own database that is designed for exactly that purpose.
						hr.hr--light.visible-xs-block
				.col-sm-4.text-center
					p: +icon('flash').svg-3x
					p VPDB is <a href="https://developer.vpdb.io/code/performance" class="a--primary">fast</a>. Various programming techniques ensure a fluid and pleasing experience.

			p.padder-top-2x

		.abs-center
			a.a--lighter(ng-click="whatsThis = !whatsThis")
				+icon('{{ searching ? "circle-o-notch" : "vpdb-o" }}')(ng-class="{ 'svg-spin': searching }").svg-3x

.row.row--padded

	//- RELEASES
	//-------------------------------------------------------------------------
	.col-sm-12
		h1.h--primary
			| Latest Releases
			a.font-content.shift-down.pull-right(ui-sref="releases")
				| More
				+icon('angle-right').smaller.space-left
		hr
		.row.fade2-animation
			.col-lg-4.col-md-6(ng-repeat="release in releases", ng-click="navRelease(release.game.id, release.id)")
				.panel.panel--animated.ng-cloak
					.clearfix
					.col--list-mini-left
						.img.img--ar-square.img--rounded-left(img-bg="release.thumb.image.url")
					.col--list-mini-right
						.a.pull-right.space-right(
							uib-tooltip="{{ release.starred ? 'Unstar' : 'Star' }} this release",
							tooltip-placement="right",
							tooltip-append-to-body="true",
							ng-show="auth.hasPermission('releases/star')",
							ng-class="{ 'a--primary': release.starred }"
						)
							+icon('star')(ng-click="toggleReleaseStar(release, $event)").shift-up-2x
						h1.h--small.h--no-margin {{ release.game.title }}
						label.label--block  {{ release.name }}
						span.small.pull-right.space-right(am-time-ago="release.released_at")
						div.small.oneliner by {{ release.authors[0].user.name }}
					.clearfix
		.clearfix
		p(ng-show="releases.length === 0") No releases in database yet.

	//- GAMES
	//-------------------------------------------------------------------------
	.col-sm-12
		h1.h--primary
			| Popular Games
			a.font-content.shift-down.pull-right(ui-sref="games")
				| More
				+icon('angle-right').smaller.space-left
		hr

		.row.fade2-animation(ng-show="popularGames.length > 0")
			.col-md-3.col-sm-4.col-xs-6(ng-repeat="game in popularGames", ng-click="navGame(game.id)")
				.panel.panel--animated.ng-cloak
					.img.img--ar-bg.img--rounded-top(img-bg="game.backglass.variations['small' + pixelDensitySuffix].url")
					.text-center.padder-horizontal
						h1.h--small {{ game.title }}
						label.label--subtitle {{ game.manufacturer }} &middot; {{ game.year }}
		p(ng-show="popularGames.length === 0") No games in database yet.
