include ../template/_mixins

//-- LOGO
//---------------------------------------------------------------------
img.img--logo(ng-src="{{ game.media.logo.url }}")

//-- RATING
//---------------------------------------------------------------------
.ratingbox(
	rating-avg="$parent.game.rating.average",
	rating-votes="$parent.game.rating.votes",
	rating-action="rateGame"
	ng-mouseenter="editing=true",
	ng-mouseleave="editing=false")

	.ratingbox__left-col
		.ratingbox__rating.rating-user.color-primary(ng-show="editing") {{ hoverRating | rating }}
		.ratingbox__rating(ng-class="{ 'rating-hide' : editing }") {{ $parent.game.rating.average | rating }}
	.ratingbox__right-col
		rating.rating-user(
			ng-show="editing",
			ng-model="ratingUser",
			max="10",
			rating-states="states",
			on-hover="hoverRating = value",
			on-leave="hoverRating = ratingUser")

		rating.rating-avg(
			ng-hide="editing",
			ng-model="ratingAvg",
			max="10",
			rating-states="states",
			readonly="true")

		span.votes {{ $parent.game.rating.votes | number }} vote{{ $parent.game.rating.votes == 1 ? '' : 's' }}

//-- STATS
//---------------------------------------------------------------------
hr
.row: .col-sm-offset-1.col-sm-10.text-left
	p
		.a.pull-right(
			tooltip="{{ gameStarred ? 'Unstar' : 'Star' }} this game",
			tooltip-placement="bottom",
			tooltip-append-to-body="true",
			ng-show="auth.hasPermission('games/star')",
			ng-class="{ 'a--primary': gameStarred }"
			)
			+icon('star')(ng-click="toggleStar()").shift-up-2x
		+icon('star-circle').svg-2x.shift-up-2x.space-right
		| {{ game.counter.stars | number }} star{{ game.counter.stars != 1 ? 's' : '' }}
	p
		+icon('eye-circle').svg-2x.shift-up-2x.space-right
		| {{ game.counter.views | number }} view{{ game.counter.views != 1 ? 's' : '' }}
hr

//-- IPDB INFO
//---------------------------------------------------------------------
label.label--block(ng-show="game.game_type") {{ game.game_type | gametype }}
label(ng-show="game.produced_units") {{ game.produced_units | number }} units produced
hr(ng-show="game.game_type || game.units")

label.label-name.label--block(ng-show="game.designers") Game Design
label.label-value(ng-show="game.designers") {{ game.designers.join(', ') }}
hr(ng-show="game.designers")

label.label-name.label--block(ng-show="game.artists") Art Design
label.label-value(ng-show="game.artists")  {{ game.artists.join(', ') }}
hr(ng-show="game.artists")

.row: .col-sm-offset-1.col-sm-10
	label.label-name(ng-show="game.ipdb")
		a.a--lighter(href="http://www.ipdb.org/machine.cgi?id={{ game.ipdb.number  }}", target="_blank")
			span.space-right
				strong IPDB
			+icon('external-link').shift-up
	dl.dl--oneliner(ng-show="game.ipdb.rating")
		dt Rating
		dd(title="{{ game.ipdb.votes | number }} vote{{ game.ipdb.votes == 1 ? '' : 's' }}")
			strong {{ game.ipdb.rating }}
		dt(ng-show="game.ipdb.top300") Top 300
		dd(ng-show="game.ipdb.top300") rank <strong>{{ game.ipdb.top300 }}</strong>

hr(ng-show="game.ipdb")