include ../template/_mixins

.row.ng-cloak.row--fullheight.fade-animation(ng-controller="GameController", ng-show="!pageLoading")

	// right column
	.col-sm-3.col-sm-push-9.col--menu.text-center

		include details-01-gameinfo

		a.btn.btn-primary.btn-block.padder-bottom(ui-sref="addRelease({ id: game.id })", ng-show="auth.hasPermission('releases/add')")
			+icon('plus-circle').space-right
			| Upload Release

	// left column (main content)
	.col-sm-9.col-sm-pull-3.col--main
		h1.h--primary {{ game.title }}
		h1.h--small.pull-right {{ game.manufacturer }} &middot; {{ game.year }}
		hr
		h1 Releases
		label(ng-hide="game.releases.length > 0") No releases for this game available.

		include details-02-release
		include details-03-roms
		include details-04-todo

		p: br

script(id="template/carousel/carousel.html", type="text/ng-template")
	.carousel(ng-mouseenter="pause()", ng-mouseleave="play()", ng-swipe-right="prev()", ng-swipe-left="next()")
		ol.carousel-indicators(ng-show="slides.length > 1")
			li(ng-repeat="slide in slides track by $index", ng-class="{active: isActive(slide)}", ng-click="select(slide)")
		.carousel-inner(ng-transclude="")
		a.left.carousel-control(ng-click="prev()", ng-show="slides.length > 1")
			+icon('angle-left')
		a.right.carousel-control(ng-click="next()", ng-show="slides.length > 1")
			+icon('angle-right')


script(id="template/rating.html", type="text/ng-template")
	.ratingbox__left-col
		.ratingbox__rating.rating-user(ng-class="{ 'rating-10': ratingHover == 10, 'color-primary': boxHovering }") {{ rating | ratingFormat }}
	.ratingbox__right-col
		span.rating-stars(ng-mouseleave="rateEnd()")
			each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
				span.star-wrapper(
					ng-mouseover="rateStart(#{val})",
					ng-click="rate(#{val})",
					ng-class="{ 'star-on': value >= #{val}, 'star-off': value < #{val}, selecting: boxHovering }"
				)
					//.star *
					+icon(val % 2 ? 'star-left' : 'star-right').star
		span.votes {{ ratingVotes | number }} vote{{ ratingVotes == 1 ? '' : 's' }}