include ../template/_mixins
include ../template/timepicker

.row.row--fullheight(ng-controller="AddBackglassCtrl")
	.col-sm-9.col--main

		h1.h--primary Add a new Backglass
		hr.hr--primary

		//---------------------------------------------------------------------
		h4 Upload File
		hr.hr--light
		.panel.panel--dropzone(
			file-upload="{ type: 'backglass', key: 'backglass', status: meta.files, onSuccess: onBackglassUpload, allowedExtensions: ['directb2s'], allowMultipleFiles: false }"
			ngf-drag-over-class="'panel--dragging'",
			ngf-select-disabled="meta.files.backglass.uploading"
			ngf-drop-disabled="meta.files.backglass.uploading"
			ng-class="{ error: filesError }"
			ng-show="!meta.files.backglass.variations['full']"
		)
			uib-progressbar.no-space-top.progress--fixed-absolute.progress-striped.active(
				value="meta.files.backglass.progress",
				ng-show="meta.files.backglass.uploading"
			)
			label.center-block.text-center: small: i Drop your .directb2s file in here.

		.panel.panel--blank(
			ng-show="meta.files.backglass.variations['full']"
			file-upload="{ type: 'backglass', key: 'backglass', status: meta.files, onSuccess: onBackglassUpload, allowedExtensions: ['directb2s'], allowMultipleFiles: false }"
			ngf-drag-over-class="'panel--dragging'"
			ngf-select-disabled="meta.files.backglass.uploading"
			ngf-drop-disabled="meta.files.backglass.uploading"
		)
			.panel-body.a.a--darker
				.img.img--ar-bg.loaded(img-bg="meta.files.backglass.variations['full']")
					.text-center.vertical-center--100
						.span(ng-show="img.loading")
							+icon('gear').svg-3x.svg-spin--slow
							p Generating thumbnail...

		//---------------------------------------------------------------------
		h4 Description
		hr.hr--light
		.form-group
			uib-tabset.tabset--light
				label.label--small.pull-right(markdown-info="Markdown enabled.")
				uib-tab
					uib-tab-heading(title="Write"): +icon('edit')
					textarea.textarea--full.msd-elastic(placeholder="Description of the backglass", ng-model="backglass.description")
				uib-tab
					uib-tab-heading(title="Preview"): +icon('eye')
					div.markdown(markdown="backglass.description")
					label.tab__label(ng-show="!backglass.description || backglass.description.length == 0") Nothing to preview.


		.form-group(ng-class="{ error: errors.versions[0].version }")
			label.control-label(for="version") Version
			.row
				.col-sm-2: input#version.form-control(type="text", ng-model="backglass.versions[0].version", placeholder="x.x")
				.col.sm-10: i Don't prefix with <code>v</code>.
			.alert.alert-danger(ng-show="errors.versions[0].version")
				+icon('warning').shift-up.space-right
				| {{ errors.versions[0].version }}
		.clearfix

		.form-group(ng-class="{ error: errors.versions[0].released_at }")
			label.control-label Release Date
			.row
				.col-sm-3: .input-group
					input.form-control.datepicker(type='text', ng-model='meta.releaseDate', ng-required='true',
					uib-datepicker-popup="yyyy-MM-dd",
					format-day-header="EE"
					is-open="calendarOpened",
					close-text="Close",
					show-weeks="false",
					starting-day="1")
					span.input-group-addon: +icon('calendar').a(ng-click='openCalendar($event)')
				.col-sm-2
					uib-timepicker(ng-model="meta.releaseTime", hour-step="1", minute-step="5", show-meridian="ismeridian")
				.col-sm-7
					i Leave empty for submission time.

		div.alert.alert-danger.padder-bottom(ng-show="errors.built_at")
			+icon('warning').shift-up.space-right
			| {{ errors.built_at }}

		.form-group
			label.control-label(for="version") Release Notes
			uib-tabset.tabset--light
				label.label--small.pull-right(markdown-info="Markdown enabled.")
				uib-tab
					uib-tab-heading(title="Write"): +icon('edit')
					textarea.textarea--full.msd-elastic(placeholder="Release Notes", ng-model="backglass.versions[0].changes")
				uib-tab
					uib-tab-heading(title="Preview"): +icon('eye')
					div.markdown(markdown="backglass.versions[0].changes")
					label.tab__label(ng-show="!backglass.versions[0].changes || backglass.versions[0].changes.length == 0") Nothing to preview.
			i This will show up in the change log of the backglass.


		//---------------------------------------------------------------------
		h4 Authors
		hr.hr--light.hr--margin-small
		i.pull-left(ng-show="backglass.authors.length == 0") No authors added.
		.row--fullwidth
			.media.media--mini.media--mini-noborders.col-sm-4(ng-repeat="author in backglass.authors", ng-mouseenter="hovering=true", ng-mouseleave="hovering=false")
				.media-left.media-middle
					img.img-avatar.img-avatar--sm(gravatar-src="meta.users[author._user].gravatar_id", gravatar-default="404", fallback-icon="user")
				.media-body
					h6.h--no-margin.h--lighter.media-heading {{ meta.users[author._user].name }}
					span {{ author.roles.join(', ') }}
				.media--edit-panel.fade-animation(ng-show="hovering")
					+icon('pencil').pos-pencil.a.smaller(ng-click="addAuthor(author)")
					+icon('trash').pos-trash.a.smaller(ng-click="removeAuthor(author)")
		button.btn.btn-default.padder-top.pull-right(ng-click="addAuthor()")
			+icon('plus-circle').space-right
			| Add Author
		.clearfix.padder-bottom
		.alert.alert-danger.padder-bottom(ng-show="errors.authors")
			+icon('warning').shift-up.space-right
			| {{ errors.authors }}
		p Everybody you add here will have write permissions to the backglass you are about to create, i.e. they can edit the backglass and add new versions.
		p You can add acknowledgements below for people who provided help or resources but are not considered as authors for that particular backglass.


		//---------------------------------------------------------------------
		h4 Acknowledgements
		hr.hr--light
		.form-group
			uib-tabset.tabset--light
				label.label--small.pull-right(markdown-info="Markdown enabled.")
				uib-tab
					uib-tab-heading(title="Write"): +icon('edit')
					textarea.textarea--full.msd-elastic(placeholder="List of people to thank", ng-model="backglass.acknowledgements")
				uib-tab
					uib-tab-heading(title="Preview"): +icon('eye')
					div.markdown(markdown="backglass.acknowledgements")
					label.tab__label(ng-show="!backglass.acknowledgements || backglass.acknowledgements.length == 0") Nothing to preview.


		hr
		button.btn.btn-default.btn-lg(ng-click="reset()") Reset
		button.btn.btn-primary.btn-lg.pull-right(ng-click="submit()", ng-disabled="submitting") Add Backglass
		.clearfix

		p
			br

	.col-sm-3.col--menu
		img.img--logo(ng-show="game.media.logo.url", ng-src="{{ game.media.logo.variations['medium' + pixelDensitySuffix].url }}")
		h3.h--multiline.text-center {{ game.title }}
		.text-center {{ game.manufacturer }} · {{ game.year }}
