.row.row--fullheight(ng-controller="ReleaseAddCtrl")
	.col-sm-9.col--main

		h1.h--primary Add a new Release
		hr

		p Welcome to the largest web form on earth! We've tried our best to make it as easy as possible for you to
			| upload your release and add the necessary information so it can correctly be categorized, indexed and
			| found by the community.

		p Below are seven steps until you can hit the big button. If this is the first time you're uploading a release,
			| read carefully through the instructions. So let's get started!

		//---------------------------------------------------------------------
		h1 1. Upload Files
		hr

		p Drag and drop your files from the file explorer into the box below. You can also put a .zip file, which will
			| then be extracted on server side and show up here as individual files.
		.panel.panel--dropzone(ng-file-drop="onFilesUpload($files)", ng-file-drag-over-class="panel--dragging")

			ul.list--files
				li.panel(ng-repeat="file in files")
					.col--list-files-left
						i.icon(ng-class="file.icon")
					.col--list-files-right
						.block.text--large: strong {{ file.name }}
						.block.text--large(ng-hide="file.uploading") {{ file.bytes | bytes }}
						progressbar.progress-striped.active(value="file.progress", ng-show="file.uploading")
					i.icon.icon-trash(ng-click="removeFile(file)")

			label.center-block.text-center: small: i Drop your files in here.

		p Note that files of a release are structured, i.e. there are only certain file types allowed:
		ul
			li <code>.vpt</code> or <code>.vpx</code> - The table file of the release. You can upload multiple of those
				| if you have multiple flavors ready (see step 3 below)
			li <code>.png</code>/<code>.jpg</code> files - Playfield screen shots
			li <code>.mp4</code> files - Playfield videos or game play videos

		p You can add text files as well. However, your release will be in any case packaged with a README file
			| generated from the description you provide below. There will also be a file about authors and
			| acknowledgements distributed with every download. Thus, it is recommended to use text files only for
			| configuration or other technical usages when necessary.

		//---------------------------------------------------------------------
		h1 2. Name your Release
		hr
		.form-group(ng-class="{ error: errors.title }")
			input.form-control.input-lg(type="text", placeholder="Title", ng-model="release.title", on-enter="searchOnIpdb()")
			.alert.alert-danger(ng-show="errors.title")
				i.fa.fa-exclamation-triangle.space-right
				| {{ errors.title }}
			span.help-block This is what will show up when your release gets listed under the game. It is basically what
				| distinguishes your release from others of the same game. Don't put anything you already describe below
				| such as <i>"FS Night Mod"</i>, but choose a name that brings across the nature of your virtual table.
				| Be creative, but if you're out of ideas, <i>"Ultimate Edition"</i> often seems to work. ;)

		//---------------------------------------------------------------------
		h1 3. Define your Flavors
		hr
		p A flavor defines attributes that are relevant to every release, so users can set defaults which version to
			| download or search for. You can upload multiple flavors by adding several <code>.vpt</code> or
			| <code>.vpx</code> files in step 1.
		ul.list--files
			li.panel(ng-repeat="file in files | fileext:['vpt','vpx']")
				.col--list-files-left
					i.icon(ng-class="file.icon")
				.col--list-files-right
					.block.text--large: strong {{ file.name }}
					hr
					table.table--inner-border
						tr(ng-repeat="flavor in flavors")
							th.text--large {{ flavor.header }}
							td(ng-repeat="flavorVal in flavor.values")
								.radio--lg-twoliner.radio-inline
									label
										input(type="radio", name="{{ file.name + flavor.header }}", value="{{ flavorVal.value }}", ng-model="file.flavor[flavor.name]")
										span {{ flavorVal.name }}
										span: i {{ flavorVal.other }}
		i(ng-show="(files | fileext:['vpt','vpx']).length == 0") Upload any VP tables under 1) before defining flavors.


		//---------------------------------------------------------------------
		h1 4. Describe your Release
		hr
		.form-group
			tabset.tabset--light
				label.label--small.pull-right(markdown-info="Markdown enabled.")
				tab
					tab-heading
						i.fa.fa-edit(title="Write")
					textarea.textarea--full.msd-elastic(placeholder="Description of the release", ng-model="release.description")
				tab
					tab-heading
						i.fa.fa-eye(title="Preview")
					div.markdown(markdown="release.description")
					label.tab__label(ng-show="!release.description || release.description.length == 0") Nothing to preview.
			i This will show up globally under your release.

		.form-group
			label.control-label(for="version") Version
			.row
				.col-sm-2: input#version.form-control(type="text", ng-model="release.version", placeholder="x.x.x")
				.col.sm-10: i Using the semantic versioning syntax is recommended.
		.clearfix

		.form-group
			label.control-label(for="version") Release Information
			tabset.tabset--light
				label.label--small.pull-right(markdown-info="Markdown enabled.")
				tab
					tab-heading
						i.fa.fa-edit(title="Write")
					textarea.textarea--full.msd-elastic(placeholder="Release Information", ng-model="release.information")
				tab
					tab-heading
						i.fa.fa-eye(title="Preview")
					div.markdown(markdown="game.description")
					label.tab__label(ng-show="!release.description || release.description.length == 0") Nothing to preview.
			i This will show up in the release's change log


		//- AUTHORS
		//---------------------------------------------------------------------
		h4
			i.icon.icon-user.space-right
			| Authors
		hr.hr--light.hr--margin-small

		i.pull-left(ng-show="release.authors.length == 0") No authors added.
		.row--fullwidth
			.media.media--mini.media--mini-noborders.col-sm-4(ng-repeat="author in release.authors", ng-mouseenter="hovering=true", ng-mouseleave="hovering=false")
				.img-avatar.img-avatar--sm.avatar-placeholder.avatar-placeholder--sm.pull-left(ng-hide="author.user.avatar")
				.img.img-avatar.img-avatar--sm.pull-left(ng-show="author.user.avatar", img-bg="author.user.avatar")
				.media-body
					h6.h--no-margin.h--lighter.media-heading {{ author.user.name }}
					span {{ author.roles.join(', ') }}
				i.fa.fa-pencil.a.fade-animation(ng-show="hovering", ng-click="addAuthor(author)")
				i.icon.icon-trash.a.fade-animation(ng-show="hovering", ng-click="removeAuthor(author)")

		button.btn.btn-default.padder-top.pull-right(ng-click="addAuthor()")
			i.fa.fa-plus-circle.space-right
			| Add Author

		.clearfix.padder-bottom

		//- TAGS
		//---------------------------------------------------------------------
		h4
			i.fa.fa-tags.space-right
			| Tags
		hr.hr--light.hr--margin-small
		p Tags highlight special characteristics or features of your release. There are already a bunch of them but you
			| can also define new ones.
		.row.padder-top
			.col-sm-6

				//- SELECTED
				h5.h--shift-up.hr--margin-small Selected Tags
				.panel--dropzone-alt(ng-model="release.tags",
				  data-drop="true",
				  data-jqyoui-options="{ accept: '.badge:not([ng-model=release.tags])', activeClass: 'active', 'hoverClass': 'hover' }",
				  jqyoui-droppable="{ multiple:true }")
					div.padder-top(ng-repeat="tag in release.tags")
						.badge.badge--tag(ng-model="release.tags",
							data-drag="true",
							data-jqyoui-options="{ revert: 'invalid' }",
							jqyoui-draggable="{ animate: true, index: {{$index}} }")
								| {{ tag.name }}
								i.fa.fa-times-circle.space-left.a(ng-click="removeTag(tag)")
						i.space-left {{ tag.description }}
					i(ng-show="release.tags.length == 0") No tags selected. Drag and drop them from the right hand pane in here.
			.col-sm-6
				.rel-pos
					.panel--dropzone-alt-2(ng-model="tags",
					  data-drop="true",
					  data-jqyoui-options="{ accept:':not([ng-model=tags])', activeClass: 'active', hoverClass: 'hover' }",
					  jqyoui-droppable="{ multiple:true }")

						//- EXISTING
						h5.hr--margin-small.h--shift-up Existing Tags
						.badge.badge--tag(ng-repeat="tag in tags", ng-model="tags",
						  data-drag="true",
						  data-jqyoui-options="{ revert: 'invalid' }",
						  jqyoui-draggable='{ animate: true, index: {{$index}} }')
							| {{ tag.name }}
							i.fa.fa-question-circle.space-left.a.a--darker(
								tooltip="{{tag.description}}",
								tooltip-append-to-body="true",
								tooltip-trigger="click",
								tooltip-popup-delay="200")
						i(ng-show="tags.length == 0") No more tags available.

				button.btn.btn-default.padder-top.pull-right(ng-click="createTag()")
					i.fa.fa-plus-circle.space-right
					| Create New Tag

			.clearfix.padder-bottom


		//- LINKS
		//---------------------------------------------------------------------
		h4
			i.fa.fa-link.space-right
			| Links
		hr.hr--light.hr--margin-small
		p You can add additional links to your release, such as to your WIP thread or other interesting resources.

		.row.row--fullwidth.row--no-margin
			.form-group.col-sm-3
				label Label
			.form-group.col-sm-9
				label URL
		.row.row--fullwidth(ng-repeat="link in release.links")
			.form-group.col-sm-3
				input.form-control(type='text', ng-model="link.label")
			.form-group.col-sm-9
				.input-group
					input.form-control(type='text', ng-model="link.url")
					span.input-group-addon: i.icon.icon-trash.a(ng-click="removeLink(link)")

		.row.row--fullwidth(init="newLink={}")
			.form-group.col-sm-3
				input.form-control(type='text', ng-model="newLink.label")
			.form-group.col-sm-9
				.input-group
					input.form-control(type='text', ng-model="newLink.url", on-enter="newLink=addLink(newLink)")
					span.input-group-addon: i.fa.fa-plus-circle.a(ng-click="newLink=addLink(newLink)")


		//---------------------------------------------------------------------
		h1 5. Set Compatibility
		hr
		p Here you can let users know which versions of Visual Pinball your release supports. There are three levels
			| described below.

		.row
			.col-md-4.col.col-sm-6
				h4 Developed with
				hr.hr--no-margin
				tabset.tabset--light
					tab
						tab-heading: i.icon.icon-package(title="Official Builds")
						h4.h--no-margin Official Releases
						div.simple-list(ng-repeat="build in builds.release | filter:{is_range:false}", )
							input(id="dev-{{ build.id }}", type="checkbox")
							label(for="dev-{{ build.id }}") {{ build.label }}
						button.btn.btn-default.btn-xs.pull-right(ng-click="addVPBuild()")
							i.fa.fa-plus-circle.space-right
							| Add
						.clearfix
					tab
						tab-heading: i.icon.icon-moon(title="Nightly Builds")
						h4.h--no-margin Nightly Builds
						div.simple-list(ng-repeat="build in builds.nightly | filter:{is_range:false}", )
							input(id="dev-{{ build.id }}", type="checkbox")
							label(for="dev-{{ build.id }}") {{ build.label }}
					tab
						tab-heading: i.fa.fa-flask(title="Experimental Builds")
						h4.h--no-margin Test Builds
						div.simple-list(ng-repeat="build in builds.experimental | filter:{is_range:false}", )
							input(id="dev-{{ build.id }}", type="checkbox")
							label(for="dev-{{ build.id }}") {{ build.label }}
				p.padder-top: i The VP build was used while building the table. It is considered the most playable version. If
					| there's a glitch, it’s surely not because of VP.

			.col-md-4.col.col-sm-6
				h4 Tested with
				hr.hr--no-margin
				tabset.tabset--light
					tab
						tab-heading: i.icon.icon-package(title="Official Builds")
						h4.h--no-margin Official Releases
						div.simple-list(ng-repeat="build in builds.release | filter:{is_range:false}", )
							input(id="tested-{{ build.id }}", type="checkbox")
							label(for="tested-{{ build.id }}") {{ build.label }}
					tab
						tab-heading: i.icon.icon-moon(title="Nightly Builds")
						h4.h--no-margin Nightly Builds
						div.simple-list(ng-repeat="build in builds.nightly | filter:{is_range:false}", )
							input(id="tested-{{ build.id }}", type="checkbox")
							label(for="tested-{{ build.id }}") {{ build.label }}
					tab
						tab-heading: i.fa.fa-flask(title="Experimental Builds")
						h4.h--no-margin Test Builds
						div.simple-list(ng-repeat="build in builds.experimental | filter:{is_range:false}", )
							input(id="tested-{{ build.id }}", type="checkbox")
							label(for="tested-{{ build.id }}") {{ build.label }}
				p.padder-top: i The author extensively tested the table with this VP build(s), but minor bugs or
					| glitches might occur, though unlikely.

			.col-md-4.col.col-sm-6
				h4 Not Designed For
				hr.hr--no-margin
				tabset.tabset--light
					tab
						tab-heading: i.icon.icon-package(title="Official Builds")
						h4.h--no-margin Official Releases
						div.simple-list(ng-repeat="build in builds.release | filter:{is_range:true}", )
							input(id="incomp-{{ build.id }}", type="checkbox")
							label(for="incomp-{{ build.id }}") {{ build.label }}
					tab
						tab-heading: i.icon.icon-moon(title="Nightly Builds")
						h4.h--no-margin Nightly Builds
						div.simple-list(ng-repeat="build in builds.nightly | filter:{is_range:false}", )
							input(id="incomp-{{ build.id }}", type="checkbox")
							label(for="incomp-{{ build.id }}") {{ build.label }}
					tab
						tab-heading: i.fa.fa-flask(title="Experimental Builds")
						h4.h--no-margin Test Builds
						div.simple-list(ng-repeat="build in builds.experimental | filter:{is_range:false}", )
							input(id="incomp-{{ build.id }}", type="checkbox")
							label(for="incomp-{{ build.id }}") {{ build.label }}

				p.padder-top: i These VP builds shouldn't be used, since they have significant changes in the physics or
					| graphics engine that make the release incompatible.


		//---------------------------------------------------------------------
		h1 6. Give Credits
		hr

		//- MOD
		//---------------------------------------------------------------------
		h4
			i.fa.fa-wrench.space-right
			| Mod
		hr.hr--light.hr--margin-small

		.row
			.col-sm-8
				p Is this a mod of another release?
			.col-sm-4.text-right
				.radio-inline.radio--lg
					label
						input.input-lg(type="radio", name="ismod", value="true", ng-model="release.isMod")
						span Yes

				.radio-inline.radio--lg
					label
						input(type="radio", name="ismod", value="false", ng-model="release.isMod")
						span No

		button.btn.btn-default.pull-right(ng-show="release.isMod")
			i.fa.fa-search.space-right
			| Find
		.clearfix


		//- ACKNOWLEDGEMENTS
		//---------------------------------------------------------------------
		h4
			i.fa.fa-heart.space-right
			| Acknowledgements
		hr.hr--light.hr--margin-small

		p Show your love to those who helped you. In the field below, you can add your honorable mentions. It's
			| recommended to write a <a href="http://daringfireball.net/projects/markdown/syntax#list" target="_blank">list</a>,
			| but you're free to describe them however you want.

		.form-group
			tabset.tabset--light
				label.label--small.pull-right(markdown-info="Markdown enabled.")
				tab
					tab-heading
						i.fa.fa-edit(title="Write")
					textarea.textarea--full.msd-elastic(placeholder="Description of the release", ng-model="release.acknowledgements")
				tab
					tab-heading
						i.fa.fa-eye(title="Preview")
					div.markdown(markdown="release.acknowledgements")
					label.tab__label(ng-show="!release.acknowledgements || release.acknowledgements.length == 0") Nothing to preview.
			i This will show up under your release's acknowledgements.


		//---------------------------------------------------------------------
		h1 7. Upload Media
		hr

		p These show off your work. You should provide both image and video at full HD resolution at <i>1920x1080</i>.
			| For every table file you’ve provided in step 1, at least the screenshot is mandatory. The video should
			| show the table in attract mode (no gameplay).

		span(ng-repeat="file in files | fileext:['vpt','vpx']")
			h2.h--smaller
				i.icon.fa-2x.space-right(ng-class="file.icon")
				| {{ file.name }}
			hr.hr--light.hr--shifted-up
			.row
				.col-sm-6.rotateme(make-loaded='loaded')
					span.pre-h4 Playfield
					h4.h--large Screenshot
					.panel.panel--blank(ng-file-drop="onMediaUpload('playfieldImage', $files)", ng-file-drag-over-class="panel--dragging")
						input#uploadBackglass.hide(type="file", ng-file-select="onMediaUpload('playfieldImage', $files)")
						.panel-body.a.a--darker(ng-click="openUploadDialog('playfieldImage', '#uploadBackglass')")
							.img.img--ar-ws.loaded(img-bg="release.mediaFile.playfieldImage.variations['medium-2x'].url")
								.text-center.vertical-center--100
									progressbar.progress--fixed-absolute.progress-striped.active(value="mediaFile.playfieldImage.progress", ng-show="mediaFile.playfieldImage.uploading")
									.span(ng-show="!img.url")
										i.fa.fa-picture-o.fa-3x(ng-class="{ transparent: mediaFile.playfieldImage.uploading }")
										p Click or drag and drop here
									.span(ng-show="img.loading")
										i.fa.fa-cog.fa-3x.fa-spin--slow
										p Generating thumbnails...

				.col-sm-6
					span.pre-h4 Playfield
					h4.h--large Video

					.panel.panel--blank(ng-hide="true", ng-file-drop="onMediaUpload('playfieldVideo', $files)", ng-file-drag-over-class="panel--dragging")
						input#uploadBackglass.hide(type="file", ng-file-select="onMediaUpload('playfieldVideo', $files)")
						.panel-body.a.a--darker(ng-click="openUploadDialog('playfieldVideo', '#uploadBackglass')")
							.img.img--ar-ws.loaded(img-bg="release.mediaFile.playfieldVideo.variations['still'].url")
								.text-center.vertical-center--100
									progressbar.progress--fixed-absolutqe.progress-striped.active(value="mediaFile.playfieldVideo.progress", ng-show="mediaFile.playfieldVideo.uploading")
									.span(ng-show="!img.url")
										i.fa.fa-picture-o.fa-3x(ng-class="{ transparent: mediaFile.playfieldVideo.uploading }")
										p Click or drag and drop here
									.span(ng-show="img.loading")
										i.fa.fa-cog.fa-3x.fa-spin--slow
										p Generating thumbnails...

					.panel.panel--blank(ng-file-drop="onMediaUpload('playfieldVideo', $files)", ng-file-drag-over-class="panel--dragging", style="width:234px")
						.panel-body.a.a--darker(ng-click="openUploadDialog('playfieldVideo', '#uploadBackglass')")
							.img.img--ar-fs.loaded
								videogular(vg-theme="vgConfig.theme", vg-width="vgConfig.width", vg-stretch="fill", vg-responsive="vgConfig.responsive")
									video.videoPlayer(controls="", preload="metadata")
										source(src="{{ release.mediaFile.playfieldVideo.variations['small-rotated'].url }}", type="video/mp4")



		//------------------------- FINISH LINE -------------------------------
		//---------------------------------------------------------------------
		hr
		button.btn.btn-default.btn-lg(ng-click="reset()") Reset
		button.btn.btn-primary.btn-lg.pull-right(ng-click="submit()") Add New Release
		.clearfix

		//- TODO fix
		p &nbsp;

	.col-sm-3.col--menu
		h1 drafts
		hr
		p None
